<div class="container mt-5">


    <div class="row">

        <div class="col-12 col-sm-4 col-md-3 mb-3">

            <div class="mb-2">

                <label for="federation">Kanton:</label>


                <select name="federation" (change)="citiesCombo($event)" [(ngModel)]="fed" class="form-select"
                    id="select_federation">
                    <option value="0">--Odaberite kanton --</option>
                    <option [value]="fed.id" [disabled]="fed.id==0" *ngFor="let fed of federations">{{fed.name}}
                    </option>
                </select>

            </div>


            <div class="mb-2">

                <label for="city">Grad</label>

                <select name="city" (change)="selectedCity($event)" class="form-select" id="select_city">
                    <option value="0">--Odaberite Grad--</option>
                    <option *ngFor="let c of citiesToCombo" [value]="c.id">{{c.name}}</option>
                </select>

            </div>

            <div class="bg-light p-1 rounded">

                <p class="text-center h6 pb-0 mb-1">Cijena</p>
                <div class="row g-1">
                    <div class="col-12 col-lg-6">
                        <div class="mb-2">
                            <label for="od" class="form-label">od</label>
                            <input [(ngModel)]="price1" type="number" class="form-control" id="od">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="mb-2">
                            <label for="do" class="form-label">do</label>
                            <input [(ngModel)]="price2" (keyup)="doChage()" type="number" class="form-control" id="do">
                        </div>
                    </div>
                </div>
                <button (click)="getProductListByPrice()" [disabled]="!btnActive" type="button"
                    class="btn btn-dark btn-sm w-100">
                    <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
                </button>
            </div>

        </div>

        <div class="col-12 col-sm-8 col-md-9">

            <p class="h3"> Pretraživanje za: {{word}}</p>

            <div class="bg-light">
                <div *ngIf="loading" class="text-center">
                    <div class="spinner-grow text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

                <div *ngIf="!loading">

                    <div *ngIf="products.length==0" class="d-flex justify-content-center align-center py-2">
                        <span>
                            <fa-icon [icon]="['fas', 'box-open']"></fa-icon>
                            Nije pronađen nijedan proizvod
                        </span>
                    </div>


                    <div *ngIf="products.length>0" class="row g-2 mb-3 pb-3 px-1">
                        <div class="col-6 col-lg-3" *ngFor="let product of products">

                            <app-product-card-mini [product]="product" ></app-product-card-mini>

                          
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
    <br>
    <br>


</div>