<div class="list-group">
    <div class="list-group-item bg-light" aria-current="true">
        <h3 class="text-center">Izdvajanje proizvoda / usluge</h3>
    </div>

    <div class="list-group-item" aria-current="true">
        <div class="d-flex align-center">
            <img src="{{imageurl}}{{product.productImageList[0].idimage}}{{product.productImageList[0].extension}}"
                class="img-fluid rounded-start w-25" alt="...">
            <div class="w-100 d-flex">
                <h5 class="mx-2 h-25 my-auto">{{product.productName}}</h5>
            </div>
            
        </div>
    </div>

    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="active==1 ? 'active': ''"
            (click)="selection(1)">1 dan - 10 tokena</button>
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="active==2 ? 'active': ''"
            (click)="selection(2)">4 dana - 40 tokena</button>
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="active==3 ? 'active': ''"
            (click)="selection(3)">7 dana - 70 tokena</button>
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="active==4 ? 'active': ''"
            (click)="selection(4)">15 dana - 150 tokena</button>
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="active==5 ? 'active': ''"
            (click)="selection(5)">1 mjesec - 300 tokena</button>
    </div>

    <br>

    <div class="text-center bg-light py-3">
        <button (click)="addPromotion()" class="btn btn-danger">
            <fa-icon [icon]="['fas','rocket']"></fa-icon>
            izdvoji</button>
    </div>
    <br>

</div>