<div class="container mt-2 mb-3">
    
    <div class="d-flex justify-content-end mb-1">
        <button routerLink="/paneluser/newtender" class="btn btn-secondary btn-sm">Novi tender</button>
    </div>

    <div class="table-responsive">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Naziv projekta</th>
                    <th>Od</th>
                    <th>Do</th>
                    <th>Opis projekta</th>
                    <th>Radnja</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tender of tenders">

                    <th>{{tender.idtender}}</th>
                    <td>{{tender.projectName}}</td>
                    <td>{{tender.dateFrom | date: 'dd.MM.yyy'}}</td>
                    <td>{{tender.dateTo | date: 'dd.MM.yyy'}}</td>
                    <td>
                        <p style="overflow: hidden; max-height: 1.2em; line-height: 1; max-width: 360px;"
                            class="p-0 m-0">
                            {{tender.description}}</p>
                        ...
                    </td>

                    <td>
                        <a routerLink="/paneluser/tenderDetail/{{tender.idtender}}"
                            class="btn btn-dark btn-sm rounded-pill">
                            Detalji                            
                        </a>

                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <br>
    <br>
    <br>
</div>