<div class="container mt-2">

    <div class="d-flex justify-content-end mb-1">
        <button routerLink="/paneluser/newtender" class="btn btn-secondary btn-sm">Novi tender</button>                    
    </div>

    <div class="table-responsive">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Naziv projekta</th>
                    <th>Od</th>
                    <th>Do</th>
                    <th>Opis projekta</th>
                    <th>Radnja</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tender of tenders">

                    <th>{{tender.idtender}}</th>
                    <td>{{tender.projectName}}</td>
                    <td>{{tender.dateFrom}}</td>
                    <td>{{tender.dateTo}}</td>
                    <td>
                        <p style="overflow: hidden; max-height: 1.2em; line-height: 1; max-width: 360px;"
                            class="p-0 m-0">
                            {{tender.description}}</p>
                        ...
                    </td>

                    <td>
                        <a routerLink="/paneluser/tenderDetail/{{tender.idtender}}" class="btn btn-dark "
                            style="margin-right: 5px;">
                            Detalji
                            <fa-icon [icon]="['fas', 'circle-info']" class="fs-5"></fa-icon>
                        </a>

                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>