<!-- social networks: -->
<label class="h6">Društvene mreže:</label>
<div class="input-group mb-2">
    <span class="input-group-text" id="facebook">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
    </span>
    <input type="text" class="form-control" id="facebook" [(ngModel)]="seller.facebook"
        aria-describedby="facebook">
</div>

<div class="input-group mb-2">
    <span class="input-group-text" id="instagram">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </span>
    <input type="text" class="form-control" [(ngModel)]="seller.instagram" id="instagram"
        aria-describedby="instagram">
</div>

<div class="input-group mb-3">
    <span class="input-group-text" id="youtube">
        <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
    </span>
    <input type="text" class="form-control" [(ngModel)]="seller.youtube" id="youtube"
        aria-describedby="youtube">
</div>
<!-- *ngIf="!estollegadelpadre" -->
<div  class="text-center">
    <button (click)="save()" [disabled]="waiting" class="btn btn-danger">
        <span *ngIf="!waiting">Spremi</span>        
        <div *ngIf="waiting" class="spinner-grow text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </button>
</div>

<br>