 <!-- social networks: -->
 <label class="h6">Social networks:</label>
 <div class="input-group mb-2">
     <span class="input-group-text" id="facebook"><i class="fa fa-facebook"></i></span>
     <input disabled type="text" class="form-control" id="facebook" [(ngModel)]="seller.facebook"
         aria-describedby="facebook">
 </div>

 <div class="input-group mb-2">
     <span class="input-group-text" id="instagram"><i class="fa fa-instagram"></i></span>
     <input disabled type="text" class="form-control" [(ngModel)]="seller.instagram" id="instagram"
         aria-describedby="instagram">
 </div>

 <div class="input-group mb-3">
     <span class="input-group-text" id="youtube"><i class="fa fa-youtube"></i></span>
     <input disabled type="text" class="form-control" [(ngModel)]="seller.youtube" id="youtube"
         aria-describedby="youtube">
 </div>
