<div *ngIf="seller" class="container mt-2">

    <div class="d-flex justify-content-end mb-1">
        <button *ngIf="!editmode" (click)="activeEdit()" class="btn btn-secondary btn-sm">Ažuriraj podatke</button>
        <div *ngIf="editmode">
            <button (click)="activeEdit()" class="btn btn-secondary btn-sm mx-2">Otkaži</button>
            <button (click)="save()" class="btn btn-danger btn-sm">Odustani</button>
        </div>
    </div>



    <div class="card mb-3 shadow">

        <div class="row justify-content-center mt-2">
            <div class="col-11 col-sm-9">

                <div *ngIf="!editmode">
                    <img *ngIf="!seller.image" src="./assets/images/no-image-icon.svg" style="max-height: 412px;"
                        class="card-img-top" alt="...">
                    <img *ngIf="seller.image" [src]="image" class="card-img-top" style="max-height: 412px;" alt="...">
                </div>


                <div *ngIf="editmode" class="row">
                    <label class="form-label" for="file-input">
                        <div class="drop-zone d-flex justify-content-center">
                            <p class="text-center" *ngIf="image==''">Izaberite sliku</p>
                            <img *ngIf="seller.image" [src]="image" style="max-height: 412px;">
                            <img *ngIf="!seller.image" src="./assets/images/no-image-icon.svg"
                                style="max-height: 412px;">
                        </div>
                    </label>
                    <!-- (change)="onFileSelected($event)" -->
                    <input class="form-control d-none" (change)="onFileSelected($event)" id="file-input" type="file">
                </div>



                <div class="card-body">

                    <div class="mb-3">
                        <label for="ime">Kompanija:<span class="form-label">*</span></label>
                        <input [disabled]="!editmode" type="text" class="form-control" name="ime" id="ime"
                            [(ngModel)]="seller.companyName">
                    </div>


                    <label for="subcategory">Poddjelatnost&nbsp;<span class="form-label">*</span></label>
                    <div *ngIf="editmode" class="mb-3">
                        <!--subcategory-->
                        <select multiple name="subcategory" id="subcategory" (change)="subCategoryAdded($event)"
                            class="form-select" style="height: 200px;">
                            <!-- <option value="">--Odaberite podkategoriju--</option> -->
                            <option *ngFor="let sub of subcategories" [value]="sub.idsubcategory"
                                [disabled]="sub.idsubcategory==0" [ngClass]="sub.idsubcategory==0 ?'title':''">
                                {{sub.subcategoryName}}
                            </option>
                        </select>

                        <div class="border rounded p-1" style="min-height: 100px;">
                            <span *ngFor="let sel of company_category, let i = index" class="badge rounded-pill bg-dark"
                                style="margin-right: 5px;">{{sel.subcategory.subcategoryName}} <button
                                    (click)="deleteSubcategory(i)">X</button> </span>
                        </div>
                    </div>

                    <div *ngIf="!editmode" class="border rounded p-1 mb-2" style="min-height: 100px;">
                        <span *ngFor="let sel of subcategories" class="badge rounded-pill bg-dark"
                            style="margin-right: 5px;">{{sel.subcategoryName}}</span>
                    </div>


                    <div class="row">
                        <div class="mb-3 col-12 col-sm-6">
                            <label for="ime">Ime:&nbsp;<span class="form-label">*</span></label>
                            <input [disabled]="!editmode" type="text" class="form-control" name="ime" id="ime"
                                [(ngModel)]="seller.user.firstName">
                        </div>

                        <div class="mb-3 col-12 col-sm-6">
                            <label for="prezime">Prezime:&nbsp;<span class="form-label">*</span></label>
                            <input [disabled]="!editmode" type="text" class="form-control" name="prezime" id="prezime"
                                [(ngModel)]="seller.user.lastName">
                        </div>
                    </div>


                    <div class="row">
                        <div class="mb-3 col-12 col-sm-6">
                            <label for="phone">Broj mobitela:&nbsp;<span class="form-label">*</span></label>
                            <input [disabled]="!editmode" type="text" class="form-control" name="phone" id="phone"
                                [(ngModel)]="seller.user.phone">
                        </div>
                        <div class="mb-3 col-12 col-sm-6">
                            <label for="postal_code">Poštanski broj&nbsp;<span class="form-label">*</span></label>
                            <input [disabled]="!editmode" type="text" class="form-control" name="postal_code"
                                id="postal_code" [(ngModel)]="seller.postalCode">
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="reg_address">Adresa&nbsp;<span class="form-label">*</span></label>
                        <input [disabled]="!editmode" type="text" class="form-control" name="reg_address"
                            id="reg_address" [(ngModel)]="seller.user.address">
                    </div>


                    <div class="row">

                        <div class="mb-3 col-12 col-sm-6">
                            <label for="federation">Kanton:&nbsp;<span class="form-label">*</span></label>

                            <select required [disabled]="!editmode" name="federation" [value]="fed.id"
                                (change)="citiesCombo($event)" [(ngModel)]="fed.id" class="form-select"
                                id="select_federation">
                                <option value="">--Odaberite lokaciju--</option>
                                <option [value]="fed.id" [disabled]="fed.id==0" *ngFor="let fed of federations">
                                    {{fed.name}}
                                </option>
                            </select>
                        </div>

                        <div class="mb-3 col-12 col-sm-6">
                            <label for="city">Grad:&nbsp;<span class="form-label">*</span></label>

                            <select required [disabled]="!editmode" [value]="city" name="city"
                                (change)="selectedCity($event)" [(ngModel)]="city" class="form-select" id="select_city">
                                <option value="">--Odaberite Grad--</option>
                                <option *ngFor="let c of citiesToCombo" [value]="c.id">{{c.name}}</option>
                            </select>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="short_biography">Kratka biografija<span class="required">*</span></label>
                        <textarea [disabled]="!editmode" rows="4" class="form-control" name="short_biography"
                            id="short_biography" [(ngModel)]="seller.biography"></textarea>
                    </div>

                    <p class="mt-3">Radno vrijeme:</p>
                    <p>Dani u sedmici: </p>

                    <div class="form-check form-switch">
                        <input [disabled]="!editmode" class="form-check-input" [(ngModel)]="seller.monday"
                            type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Ponedjeljak</label>
                    </div>
                    <div class="form-check form-switch">
                        <input [disabled]="!editmode" class="form-check-input" [(ngModel)]="seller.tuesday"
                            type="checkbox" id="flexSwitchCheckChecked">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Utorak</label>
                    </div>
                    <div class="form-check form-switch">
                        <input [disabled]="!editmode" class="form-check-input" [(ngModel)]="seller.wednesday"
                            type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Srijeda</label>
                    </div>
                    <div class="form-check form-switch">
                        <input [disabled]="!editmode" class="form-check-input" [(ngModel)]="seller.thursday"
                            type="checkbox" id="flexSwitchCheckChecked">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Četvrtak</label>
                    </div>
                    <div class="form-check form-switch">
                        <input [disabled]="!editmode" s class="form-check-input" [(ngModel)]="seller.friday"
                            type="checkbox" id="flexSwitchCheckChecked">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Petak</label>
                    </div>
                    <div class="form-check form-switch">
                        <input [disabled]="!editmode" class="form-check-input" [(ngModel)]="seller.saturday"
                            type="checkbox" id="flexSwitchCheckChecked">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Subota</label>
                    </div>
                    <div class="form-check form-switch">
                        <input [disabled]="!editmode" class="form-check-input" [(ngModel)]="seller.sunday"
                            type="checkbox" id="flexSwitchCheckChecked">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Nedjelja</label>
                    </div>

                    <p class="h6 mt-3">Vrijeme:</p>
                    <div class="row mb-3">
                        <div class="col-12 col-sm-6">
                            <span>Od</span>
                            <select [disabled]="!editmode" class="form-select rounded-pill"
                                [(ngModel)]="seller.startTime" name="hour-start">
                                <option value="">-Izaberite-</option>
                                <option value="5">05:00</option>
                                <option value="6">06:00</option>
                                <option value="7">07:00</option>
                                <option value="8">08:00</option>
                                <option value="9">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                            </select>
                        </div>

                        <div class="col-12 col-sm-6">
                            <span>Do</span>
                            <select [disabled]="!editmode" class="form-select rounded-pill" [(ngModel)]="seller.endTime"
                                name="hour-end">
                                <option value="">-Izaberite-</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                            </select>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="annual_leave">Godišnji odmor<span class="required">*</span></label>
                        <input [disabled]="!editmode" class="form-control" name="annual_leave" id="annual_leave"
                            value="" required="required" [(ngModel)]="seller.annualLeave">
                    </div>

                    <div class="mb-3">
                        <label for="delivery_cost">Cijena dostave<span class="required">*</span></label>
                        <input [disabled]="!editmode" type="number" class="form-control" name="delivery_cost"
                            id="delivery_cost" value="" required="required" [(ngModel)]="seller.deliveryCost">
                    </div>


                    <!-- social networks: -->
                    <label>Društvene mreže:</label>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="facebook">
                            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                            <!-- <i class="fa fa-facebook"></i> -->
                        </span>
                        <input [disabled]="!editmode" type="text" class="form-control" id="facebook"
                            [(ngModel)]="seller.facebook" aria-describedby="facebook">
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text" id="instagram">
                            <!-- <i class="fa fa-instagram"></i> -->
                            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                        </span>
                        <input [disabled]="!editmode" type="text" class="form-control" id="instagram"
                            [(ngModel)]="seller.instagram" aria-describedby="instagram">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="youtube">
                            <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
                            <!-- <i class="fa fa-youtube"></i> -->
                        </span>
                        <input [disabled]="!editmode" type="text" class="form-control" id="youtube"
                            [(ngModel)]="seller.youtube" aria-describedby="youtube">
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label">Email</label>
                        <div class="form-check">
                            <input [disabled]="!editmode" type="checkbox" class="form-check-input"
                                name="setting_show_email" value="yes" checked="checked">
                            <label> Prikaži email na profilu</label>
                        </div>
                    </div>

                    <!-- buttons -->
                    <div class="d-flex justify-content-end mb-1">
                        <button *ngIf="!editmode" (click)="activeEdit()" class="btn btn-secondary btn-sm">Ažuriraj
                            podatke</button>
                        <div *ngIf="editmode">
                            <button (click)="activeEdit()" class="btn btn-secondary btn-sm mx-2">Otkaži</button>
                            <button (click)="save()" class="btn btn-danger btn-sm">Odustani</button>
                        </div>
                    </div>

                </div>



            </div>
        </div>



    </div>
</div>