<div class="container mt-2 mb-3">
    <!-- buttons -->
    <div class="d-flex justify-content-end mb-1">
        <button *ngIf="!editmode" (click)="activeEdit()" class="btn btn-secondary btn-sm">
            Ažuriraj podatke
        </button>
        <div *ngIf="editmode">
            <button [disabled]="saving" (click)="activeEdit()" class="btn btn-secondary btn-sm mx-2">Otkaži</button>
            <button [disabled]="saving" (click)="save()" class="btn btn-danger btn-sm">Spremi</button>
        </div>
    </div>

    <div class="card">

        <!-- preloader -->
        <div class="col-10 text-center" *ngIf="loading">
            <br>
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div *ngIf="!loading" class="mt-3 mb-0">

            <div class="w-75 mx-auto">

                <div class="text-center">
                    <br>
                    <p class="h1"> Korisnički panel kupca</p>
                    <br>
                </div>

                <p class="h6">Email:</p>
                <input [disabled]="!editmode" type="text" [(ngModel)]="buyer.user.email"
                    [ngClass]="buyer.user.email==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

                <p class="h6">Ime:</p>
                <!-- <p [ngClass]="buyer.user.firstName==null ? 'rounded-pill border p-2 text-danger':'border p-2 rounded-pill'">
          {{buyer.user.firstName ? buyer.user.firstName : 'You have not completed this data' }}
        </p> -->
                <input [disabled]="!editmode" type="text" [(ngModel)]="buyer.user.firstName"
                    [ngClass]="buyer.user.firstName==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

                <p class="h6">Prezime:</p>
                <input [disabled]="!editmode" type="text" [(ngModel)]="buyer.user.lastName"
                    [ngClass]="buyer.user.lastName==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

                <p class="h6">Broj mobitela:</p>
                <input [disabled]="!editmode" type="text" [(ngModel)]="buyer.user.phone"
                    [ngClass]="buyer.user.phone==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

                <p class="h6">Kanton:</p>
                <select [disabled]="!editmode" (change)="citiesCombo($event)" name="federation" [(ngModel)]="fed"
                    class="form-select rounded-pill mb-3" id="select_federation">
                    <option value="">--Odaberite lokaciju--</option>
                    <option [value]="fed.id" [disabled]="fed.id==0" *ngFor="let fed of federations">{{fed.name}}
                    </option>
                </select>

                <p class="h6">Grad:</p>
                <select [disabled]="!editmode" name="city" (change)="selectedCity($event)" [(ngModel)]="city"
                    class="form-select rounded-pill mb-3" id="select_city">
                    <option value="">--Odaberite Grad--</option>
                    <option *ngFor="let c of citiesToCombo" [value]="c.id">{{c.name}}</option>
                </select>

                <p class="h6">Poštanski broj:</p>
                <input [disabled]="!editmode" type="text" [(ngModel)]="buyer.postalCode"
                    [ngClass]="buyer.postalCode==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

                <p class="h6">Adresa:</p>
                <input [disabled]="!editmode" type="text" [(ngModel)]="buyer.user.address"
                    [ngClass]="buyer.user.address==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">


                <!-- buttons -->
                <div class="d-flex justify-content-end mb-3">
                    <button *ngIf="!editmode" (click)="activeEdit()" class="btn btn-secondary btn-sm">
                        Ažuriraj podatke
                    </button>
                    <div *ngIf="editmode">
                        <button [disabled]="saving" (click)="activeEdit()"
                            class="btn btn-secondary btn-sm mx-2">Otkaži</button>
                        <button [disabled]="saving" (click)="save()" class="btn btn-danger btn-sm">Spremi</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <br>
    <br>
    <br>
</div>