.selectedChat{
background-color: lightgray;
}

.chat{
    cursor: pointer; 
}

.chat:hover{
    background-color: lightgray;    
}

.mini{
    width: 300px;
    height: 400px;
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
}

.minibtn:active{
    transform: scale(0.8);
}

.mini:hover{
    box-shadow: none
}

.card-body{
    overflow: auto;
}

.card:hover{
    box-shadow: none
}

