<div *ngIf="loading" class="text-center mt-3">
    <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="!loading" class="table-responsive">

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Project name</th>
                <th>Date from</th>
                <th>Date to</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tender of tenders">

                <th>{{tender.idtender}}</th>
                <td>{{tender.projectName}}</td>
                <td>{{tender.dateFrom}}</td>
                <td>{{tender.dateTo}}</td>
                <td>{{tender.description}}</td>
                
                <td>
                    
                    <!-- <button (click)="emitSellerEdit(seller.user.id)" class="btn btn-dark mx-2">see details</button>
                    <button *ngIf="!accepted" (click)="confirm(seller.user.id)"
                    class="btn btn-dark mx-2">Confirm</button> -->
                    <!-- <button *ngIf="tender.document" (click)="openDocument(tender.document)"
                    class="btn btn-dark mx-2">Attached</button>  -->

                    <fa-icon [icon]="['fas', 'file']"></fa-icon>
                    <a href="assets/images/2.pdf" target="_blank">&nbsp;Attached                        
                    </a>
                   

                </td>
            </tr>
        </tbody>
    </table>

</div>

<div *ngIf="tenders.length==0" class="text-center">
    Nema podataka za prikaz
</div>
