<div *ngIf="loading" class="text-center mt-2">
    <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="!loading" class="container py-3">

    <div class="border border-danger rounded-2 p-2">

        <p class="h3 text-center my-3">Informacije o firmi</p>

        <div class="row mb-3">

            <div class="col-12 col-md-4">

                <div class="border text-center p-1">

                    <img *ngIf="seller.image" [src]="url_prof_img + seller.image" alt=""
                        style="height: 300px; max-width: 330px;">

                    <img *ngIf="!seller.image" src="/assets/images/no-image-icon.svg" alt=""
                        style="height: 300px; max-width: 330px;">

                </div>

                <div>

                    <p class="h6 mb-0 mt-2">
                        <fa-icon [icon]="['fas','tag']"></fa-icon>
                        Kategorija/djelatnost:
                    </p>

                    <div class="border rounded p-1 m-1 bg-light" style="min-height: 100px;">

                        <span *ngFor="let sel of seller.providerSubcategoryList" class="badge rounded-pill bg-dark"
                            style="margin-right: 5px;">{{sel.category.name}}
                        </span>
                    </div>

                </div>


                <div>

                    <p class="h6 mb-0 mt-2">
                        <fa-icon [icon]="['fas','clock']"></fa-icon>
                        Radno vrijeme:
                    </p>


                    <div class="border rounded p-1 m-1 bg-light">

                        <div class="row mb-1">

                            <div class="col-4 col-md-2 d-flex">
                                <fa-icon *ngIf="seller.monday" [icon]="['fas', 'check-square']"
                                    class="text-success"></fa-icon>
                                <fa-icon *ngIf="!seller.monday" [icon]="['fas', 'square-xmark']"
                                    class="text-danger"></fa-icon>
                                <label class="form-check-label" style="margin-left: 5px;"
                                    for="flexSwitchCheckDefault">Ponedjeljak</label>
                            </div>

                            <div class="col d-flex justify-content-end" style="margin-left: 20px;">
                                <span class="badge rounded-pill bg-light text-dark">{{seller.timemonday}}</span> -
                                <span class="badge rounded-pill bg-light text-dark">{{seller.endmonday}}</span>
                            </div>

                        </div>

                        <div class="row mb-1">
                            <div class="d-flex col-4 col-md-2">
                                <fa-icon *ngIf="seller.tuesday" [icon]="['fas', 'check-square']"
                                    class="text-success"></fa-icon>
                                <fa-icon *ngIf="!seller.tuesday" [icon]="['fas', 'square-xmark']"
                                    class="text-danger"></fa-icon>
                                <label class="form-check-label" style="margin-left: 5px;"
                                    for="flexSwitchCheckChecked">Utorak</label>
                            </div>
                            <div class="col d-flex justify-content-end" style="margin-left: 20px;">
                                <span class="badge rounded-pill bg-light text-dark">{{seller.timetuesday}}</span> -
                                <span class="badge rounded-pill bg-light text-dark">{{seller.endtuesday}}</span>
                            </div>
                        </div>

                        <div class="row mb-1">
                            <div class="d-flex col-4 col-md-2">
                                <fa-icon *ngIf="seller.wednesday" [icon]="['fas', 'check-square']"
                                    class="text-success"></fa-icon>
                                <fa-icon *ngIf="!seller.wednesday" [icon]="['fas', 'square-xmark']"
                                    class="text-danger"></fa-icon>
                                <label class="form-check-label" style="margin-left: 5px;"
                                    for="flexSwitchCheckDefault">Srijeda</label>
                            </div>
                            <div class="col d-flex justify-content-end" style="margin-left: 20px;">
                                <span class="badge rounded-pill bg-light text-dark">{{seller.timewednesday}}</span> -
                                <span class="badge rounded-pill bg-light text-dark">{{seller.endwednesday}}</span>
                            </div>
                        </div>

                        <div class="row mb-1">
                            <div class="d-flex col-4 col-md-2">
                                <fa-icon *ngIf="seller.thursday" [icon]="['fas', 'check-square']"
                                    class="text-success"></fa-icon>
                                <fa-icon *ngIf="!seller.thursday" [icon]="['fas', 'square-xmark']"
                                    class="text-danger"></fa-icon>
                                <label class="form-check-label" style="margin-left: 5px;"
                                    for="flexSwitchCheckChecked">Četvrtak</label>
                            </div>
                            <div class="col d-flex justify-content-end" style="margin-left: 20px;">
                                <span class="badge rounded-pill bg-light text-dark">{{seller.timethursday}}</span> -
                                <span class="badge rounded-pill bg-light text-dark">{{seller.endthursday}}</span>
                            </div>
                        </div>

                        <div class="row mb-1">
                            <div class="d-flex col-4 col-md-2">
                                <fa-icon *ngIf="seller.friday" [icon]="['fas', 'check-square']"
                                    class="text-success"></fa-icon>
                                <fa-icon *ngIf="!seller.friday" [icon]="['fas', 'square-xmark']"
                                    class="text-danger"></fa-icon>
                                <label class="form-check-label" style="margin-left: 5px;"
                                    for="flexSwitchCheckChecked">Petak</label>
                            </div>
                            <div class="col d-flex justify-content-end" style="margin-left: 20px;">
                                <span class="badge rounded-pill bg-light text-dark">{{seller.timefriday}}</span> -
                                <span class="badge rounded-pill bg-light text-dark">{{seller.endfriday}}</span>
                            </div>
                        </div>

                        <div class="row mb-1">
                            <div class="d-flex col-4 col-md-2">
                                <fa-icon *ngIf="seller.saturday" [icon]="['fas', 'check-square']"
                                    class="text-success"></fa-icon>
                                <fa-icon *ngIf="!seller.saturday" [icon]="['fas', 'square-xmark']"
                                    class="text-danger"></fa-icon>
                                <label class="form-check-label" style="margin-left: 5px;"
                                    for="flexSwitchCheckChecked">Subota</label>
                            </div>
                            <div class="col d-flex justify-content-end" style="margin-left: 20px;">
                                <span class="badge rounded-pill bg-light text-dark">{{seller.timesaturday}}</span> -
                                <span class="badge rounded-pill bg-light text-dark">{{seller.endsaturday}}</span>
                            </div>
                        </div>

                        <div class="row mb-1">
                            <div class="d-flex col-4 col-md-2">
                                <fa-icon *ngIf="seller.sunday" [icon]="['fas', 'check-square']"
                                    class="text-success"></fa-icon>
                                <fa-icon *ngIf="!seller.sunday" [icon]="['fas', 'square-xmark']"
                                    class="text-danger"></fa-icon>
                                <label class="form-check-label" style="margin-left: 5px;"
                                    for="flexSwitchCheckChecked">Nedjelja</label>
                            </div>
                            <div class="col d-flex justify-content-end" style="margin-left: 20px;">
                                <span class="badge rounded-pill bg-light text-dark">{{seller.timesunday}}</span> -
                                <span class="badge rounded-pill bg-light text-dark">{{seller.endsunday}}</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-12 col-md-8">

                <div class="border h-100 container">
                    <p class="h3">{{seller.companyName}}</p>
                    <p>
                        <fa-icon [icon]="['fas','briefcase']"></fa-icon>
                        <span class="h6">&nbsp;Prodavač:</span> {{seller.user.firstName}} {{seller.user.lastName}}
                    </p>

                    <div class="rounded border mb-3 bg-light">
                        <fa-icon [icon]="['fas','location-dot']"></fa-icon>

                        <p>
                            <span class="h6">Kanton:</span>
                            {{fed}}
                        </p>

                        <p>

                            <span class="h6">Grad:</span>
                            {{city}}
                        </p>

                        <p>
                            <span class="h6">Adresa:</span>
                            {{seller.user.address}}
                        </p>


                        <p>
                            <span class="h6">Poštanski broj:</span>
                            {{seller.postalCode}}
                        </p>

                    </div>


                    <p>
                        <fa-icon [icon]="['fas','mobile-phone']"></fa-icon>
                        {{seller.user.phone}}
                    </p>

                    <p *ngIf="seller.showEmail">
                        <fa-icon [icon]="['fas','envelope']"></fa-icon>
                        {{seller.user.email}}
                    </p>

                    <p class="rounded border bg-light">
                        <fa-icon [icon]="['fas','address-book']"></fa-icon>
                        {{seller.biography}}
                    </p>
                    <!-- routerLink="/chat/{{seller.user.id}}" -->
                    <a *ngIf="iduser!==seller.user.id" (click)="emitSeller(seller.user.id);"
                        class="btn btn-danger rounded-pill">
                        <fa-icon [icon]="['fas','comment']"></fa-icon>
                        Pošaljite poruku
                    </a>

                    <br>
                    <br>
                </div>

            </div>

        </div>


        <hr>

        <!-- seller image product list -->
        <h4>Proizvodi / Usluge ovog korisnika</h4>
        <!-- <div class="d-flex overflow-auto flex-nowrap"> -->

        <div class="row g-2 ">
            <!-- class="mx-1" style="max-width: 200px;" -->
            <div class="col-6 col-sm-4 col-md-4 col-lg-3" *ngFor="let product of producByProvider" >
                <app-product-card-mini [product]="product"></app-product-card-mini>
            </div>
        </div>

        <!-- </div> -->

    </div>
    <hr>
    <hr>
</div>