<div class="container mb-4 mb-3">

    <h1 class="text-center my-5">Pravila o privatnosti</h1>

    <div class="mb-4"
        style="border-radius:20px;border-style:solid;border-width:2%;padding-top:6%;padding-right:6%;padding-bottom:6%;padding-left:6%">
        <div class="row">
            <div class="col">
                <h2 class="has-ext-large-font-size wp-block-heading" id="a-small-heading">
                    <strong>Članovi</strong>
                </h2>
            </div>

            <div class="col">
                <h2 class="wp-block-heading" id="a-small-heading-1">Pravila o privatnosti</h2>
            </div>

        </div>

        <div>
            <hr class="wp-block-separator is-style-wide">

            <div class="row">
                <div class="col">
                    <h5 class="has-ext-medium-font-size wp-block-heading" id="a-third-heading">
                        <strong>Pravila o privatnosti</strong>
                    </h5>
                </div>

                <div class="col">
                    <p>Hvala vam što posjećujete našu web stranicu. Cijenimo vaše povjerenje i obavezujemo se da ćemo
                        čuvati
                        vašu privatnost i zaštititi vaše lične podatke. Ova Pravila o privatnosti opisuju kako
                        prikupljamo,
                        koristimo i štitimo informacije koje prikupljamo od vas prilikom korištenja naše web stranice.
                    </p>
                </div>
            </div>


            <div>
                <hr>

                <div class="row">
                    <div class="col">
                        <h5 class="has-ext-medium-font-size wp-block-heading" id="this-is-a-medium-heading">
                            <strong>1. Prikupljanje ličnih podataka</strong>
                        </h5>
                    </div>
                    <div class="col">
                        <p>Prilikom registracije na našoj web stranici, od vas ćemo zatražiti određene lične podatke
                            koji su potrebni za uspješnu prijavu i pružanje naših usluga. To može uključivati sljedeće
                            informacije: naziv firme, adresa, kontaktne informacije (telefon, e-mail) i ostale podatke
                            relevantne za vaše poslovanje.</p>
                    </div>
                </div>
            </div>


            <div>
                <hr>

                <div class="row">
                    <div class="col">
                        <h5><strong>2. Upotreba prikupljenih podataka</strong></h5>
                    </div>



                    <div class="col">
                        <p>Lične podatke koje prikupljamo koristit ćemo isključivo u svrhu pružanja naših usluga, kao
                            što su obrada narudžbi, upravljanje korisničkim računima, pružanje korisničke podrške i
                            poboljšanje kvalitete naše usluge. Vaše podatke nećemo dijeliti s trećim stranama bez vašeg
                            pristanka, osim ako je to zakonski obavezno ili ako je to nužno radi pružanja usluga koje
                            tražite.</p>

                    </div>
                </div>
            </div>
            <div>
                <hr>

                <div class="row">
                    <div class="col">
                        <h5><strong>3. Sigurnost podataka</strong></h5>
                    </div>



                    <div class="col">
                        <p>Poduzimamo odgovarajuće tehničke i organizacijske mjere kako bismo osigurali sigurnost vaših
                            ličnih podataka od neovlaštenog pristupa, gubitka ili oštećenja. Vaši podaci će biti
                            pohranjeni na siguran način i pristup njima će imati samo ovlaštene osobe koje su uključene
                            u pružanje naših usluga.</p>

                    </div>
                </div>
            </div>
            <div>
                <hr>

                <div class="row">
                    <div class="col">
                        <h5><strong>4. Pristup, ispravak i brisanje podataka</strong></h5>
                    </div>



                    <div class="col">
                        <p>Imate pravo pristupiti ličnim podacima koje smo prikupili o vama i zatražiti ispravak ili
                            brisanje tih podataka. Ako želite izvršiti ove radnje, molimo vas da nas kontaktirate putem
                            navedenih kontakt informacija.</p>

                    </div>
                </div>
            </div>
            <div>
                <hr>

                <div class="row">
                    <div class="col">
                        <h5><strong>5. Kolačići</strong></h5>
                    </div>



                    <div class="col">
                        <p>Naša web stranica može koristiti kolačiće (eng. cookies) kako bi poboljšala korisničko
                            iskustvo i pružila personaliziran sadržaj. Više informacija o kolačićima i njihovoj upotrebi
                            možete pronaći u našoj Politici kolačića.</p>

                    </div>
                </div>
            </div>
            <div>
                <hr>

                <div class="row">
                    <div class="col">
                        <h5><strong>6. Promjene u Pravilima o privatnosti</strong></h5>
                    </div>



                    <div class="col">
                        <p>Pridržavamo pravo izmjene ovih Pravila o privatnosti u bilo kojem trenutku. Ažurirane verzije
                            će biti objavljene na našoj web stranici i preporučujemo da ih redovito pregledate kako
                            biste bili informirani o promjenama.</p>

                    </div>
                </div>
            </div>
            <br>
            <p>Ako imate dodatna pitanja ili nedoumice u vezi s našim Pravilima o privatnosti, slobodno nas
                kontaktirajte.</p>

        </div>

    </div>
    <br>
    <br>
</div>