<!-- preloader -->
<div class="text-center container" *ngIf="loading">
    <br>
    <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="!loading" class="container pt-3 mb-3">
    <div class="big card mb-3">
        <div class="row g-0">
            <div class="col-md-7">

                <div class="slider-container mb-2">
                    <div class="slider" #slider>
                        <div class="slide" *ngFor="let image of productImageList">
                            <img [src]="urlprod_img+image.extension" alt="Imagen"
                                style="object-fit: contain; height: 500px;">
                        </div>
                    </div>
                    <button class="prev-button" (click)="prevSlide()">
                        <fa-icon [icon]="['fas','left-long']"></fa-icon>
                    </button>
                    <button class="next-button" (click)="nextSlide()">
                        <fa-icon [icon]="['fas','right-long']"></fa-icon>
                    </button>
                </div>

                <!-- thumbnail image list -->
                <ul class="list-unstyled d-flex overflow-auto flex-nowrap" style="margin-left: 14px;">
                    <li *ngFor="let img of productImageList, let i = index" class="flex-row"
                        style="margin-right: 6px; cursor: pointer;">
                        <div class="car" style="width: 5rem;">
                            <a (click)="moveToIndex(i);">
                                <img src="{{urlprod_img}}{{img.extension}}" class="card-img-top card-img-bottom"
                                    style="height: 80px;" alt="...">
                            </a>
                        </div>
                    </li>
                </ul>

            </div>

            <div class="col-md-5">

                <div class="card-body">

                    <div class="card border-light mb-3 big">

                        <div class="card-header fs-3">{{product.productName}}</div>
                        <div class="card-body">

                            <div *ngIf="this.isTruck">
                                <truck-detail [idtruck]="product.idproduct!"></truck-detail>
                            </div>


                            <span *ngIf="promoted && iduser==product.iduser"
                                class="badge rounded-pill bg-primary mb-2">Artikal izdvojen do {{product.promotedTo |
                                date: 'dd.MM.yy HH:mm'}}</span>
                            <span *ngIf="promoted && iduser!==product.iduser"
                                class="badge rounded-pill bg-primary mb-2">IZDVOJENO</span>

                            <!-- class="card-text" -->
                            <p *ngIf="product.price!==0" class="h5">
                                Cijena: {{product.price}} KM
                            </p>
                            <p *ngIf="product.price==0" class="h5">
                                Cijena: Po dogovoru
                            </p>
                            <p class="h5">
                                <fa-icon [icon]="['fas','location-dot']"></fa-icon>&nbsp; Lokacija
                            </p>
                            <p *ngIf="seller.user.federation!=null">Grad: {{city}}</p>

                            <p>Pregledi: {{product.visits}}</p>
                            <p style="white-space: pre-line;">
                                {{product.description}}
                            </p>



                            <a *ngIf="iduser!==product.iduser" (click)="emitSeller(seller.user.id, product.idproduct!);"
                                class="btn btn-danger">
                                <fa-icon [icon]="['fas','comment']"></fa-icon>
                                Pošaljite poruku
                            </a>

                            <div *ngIf="iduser==product.iduser" class="row bg-light mt-4 py-3">

                                <div class="col text-center">
                                    <a class="btn btn-danger d-block"
                                        routerLink="/promotions/{{product.idproduct}}/promote">
                                        <fa-icon [icon]="['fas','rocket']" class="mx-2"></fa-icon>
                                        Izdvoji
                                    </a>
                                </div>

                                <div class="col text-center">
                                    <a class="btn btn-dark d-block"
                                        routerLink="/panelseller/product/{{product.idproduct}}">
                                        <fa-icon [icon]="['fas','pencil']" class="mx-2"></fa-icon>
                                        Izmijeni
                                    </a>
                                </div>

                            </div>

                            <div *ngIf="idrole==3 && promoted" class="row bg-light mt-4 py-3">

                                <div class="col text-center">
                                    <a class="btn btn-dark " (click)="del()">
                                        <fa-icon [icon]="['fas','trash']" class="mx-2"></fa-icon>
                                        Ukloni izdvajanje
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- </div> -->
    </div>



    <!-- Seller information -->
    <div class="border border-danger rounded-2 p-2">

        <div class="row">

            <div class="col-12 col-sm-6">

                <p class="h4 text-danger">Informacije o firmi</p>

                <p>Ime firme: {{seller.companyName}}</p>

                <p>Prodavač:
                    <a [routerLink]="['/provider', product.iduser]"> {{seller.user.firstName}}
                        {{seller.user.lastName}}</a>
                </p>

                <p>Adresa: {{seller.user.address}}</p>
                <p>Broj telefona: {{seller.user.phone}}</p>

                <p *ngIf="seller.showEmail">
                    <fa-icon [icon]="['fas','envelope']"></fa-icon>
                    {{seller.user.email}}
                </p>

                <ul>
                    <li *ngIf="seller.facebook" class="list-group-item">
                        <a href="{{seller.facebook}}" target="_blank">
                            <fa-icon [icon]="['fab','facebook']" style="font-size: 50px;"></fa-icon>
                        </a>
                    </li>
                    <li *ngIf="seller.instagram" class="list-group-item">
                        <a href="{{seller.instagram}}" target="_blank">
                            <fa-icon [icon]="['fab','instagram']"></fa-icon>
                        </a>
                    </li>
                    <li *ngIf="seller.youtube" class="list-group-item">
                        <a href="{{seller.youtube}}" target="_blank">
                            <fa-icon [icon]="['fab','youtube']"></fa-icon>
                            <!-- {{seller.youtube}} -->
                        </a>
                    </li>
                </ul>

            </div>

            <div class="col-12 col-sm-6">

                <b>Radno vrijeme</b>
                <hr>


                <div class="row mb-1">

                    <div class="col-4 col-md-2 d-flex">
                        <fa-icon *ngIf="seller.monday" [icon]="['fas', 'check-square']" class="text-success"></fa-icon>
                        <fa-icon *ngIf="!seller.monday" [icon]="['fas', 'square-xmark']" class="text-danger"></fa-icon>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Ponedjeljak</label>
                    </div>

                    <div class="col" style="margin-left: 20px;">
                        <span class="badge rounded-pill bg-light text-dark">{{seller.timemonday}}</span> -
                        <span class="badge rounded-pill bg-light text-dark">{{seller.endmonday}}</span>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="d-flex col-4 col-md-2">
                        <fa-icon *ngIf="seller.tuesday" [icon]="['fas', 'check-square']" class="text-success"></fa-icon>
                        <fa-icon *ngIf="!seller.tuesday" [icon]="['fas', 'square-xmark']" class="text-danger"></fa-icon>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Utorak</label>
                    </div>
                    <div class="col" style="margin-left: 20px;">
                        <span class="badge rounded-pill bg-light text-dark">{{seller.timetuesday}}</span> -
                        <span class="badge rounded-pill bg-light text-dark">{{seller.endtuesday}}</span>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="d-flex col-4 col-md-2">
                        <fa-icon *ngIf="seller.wednesday" [icon]="['fas', 'check-square']"
                            class="text-success"></fa-icon>
                        <fa-icon *ngIf="!seller.wednesday" [icon]="['fas', 'square-xmark']"
                            class="text-danger"></fa-icon>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Srijeda</label>
                    </div>
                    <div class="col" style="margin-left: 20px;">
                        <span class="badge rounded-pill bg-light text-dark">{{seller.timewednesday}}</span> -
                        <span class="badge rounded-pill bg-light text-dark">{{seller.endwednesday}}</span>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="d-flex col-4 col-md-2">
                        <fa-icon *ngIf="seller.thursday" [icon]="['fas', 'check-square']"
                            class="text-success"></fa-icon>
                        <fa-icon *ngIf="!seller.thursday" [icon]="['fas', 'square-xmark']"
                            class="text-danger"></fa-icon>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Četvrtak</label>
                    </div>
                    <div class="col" style="margin-left: 20px;">
                        <span class="badge rounded-pill bg-light text-dark">{{seller.timethursday}}</span> -
                        <span class="badge rounded-pill bg-light text-dark">{{seller.endthursday}}</span>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="d-flex col-4 col-md-2">
                        <fa-icon *ngIf="seller.friday" [icon]="['fas', 'check-square']" class="text-success"></fa-icon>
                        <fa-icon *ngIf="!seller.friday" [icon]="['fas', 'square-xmark']" class="text-danger"></fa-icon>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Petak</label>
                    </div>
                    <div class="col" style="margin-left: 20px;">
                        <span class="badge rounded-pill bg-light text-dark">{{seller.timefriday}}</span> -
                        <span class="badge rounded-pill bg-light text-dark">{{seller.endfriday}}</span>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="d-flex col-4 col-md-2">
                        <fa-icon *ngIf="seller.saturday" [icon]="['fas', 'check-square']"
                            class="text-success"></fa-icon>
                        <fa-icon *ngIf="!seller.saturday" [icon]="['fas', 'square-xmark']"
                            class="text-danger"></fa-icon>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Subota</label>
                    </div>
                    <div class="col" style="margin-left: 20px;">
                        <span class="badge rounded-pill bg-light text-dark">{{seller.timesaturday}}</span> -
                        <span class="badge rounded-pill bg-light text-dark">{{seller.endsaturday}}</span>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="d-flex col-4 col-md-2">
                        <fa-icon *ngIf="seller.sunday" [icon]="['fas', 'check-square']" class="text-success"></fa-icon>
                        <fa-icon *ngIf="!seller.sunday" [icon]="['fas', 'square-xmark']" class="text-danger"></fa-icon>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Nedjelja</label>
                    </div>
                    <div class="col" style="margin-left: 20px;">
                        <span class="badge rounded-pill bg-light text-dark">{{seller.timesunday}}</span> -
                        <span class="badge rounded-pill bg-light text-dark">{{seller.endsunday}}</span>
                    </div>
                </div>

            </div>





        </div>

        <hr>
        <!-- seller image product list -->
        <p class="h5">Ostali proizvodi / usluge ovog korisnika</p>
        <hr>

        <div class="row g-2 ">
            <div class="col-6 col-sm-4 col-md-4 col-lg-2" *ngFor="let product of producByProvider">
                <app-product-card-mini [product]="product"></app-product-card-mini>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
</div>