<div class="container pt-5">
    <div class="card mb-1" style="max-width: 840px;">
        <div class="row g-0">
            <div class="col-md-7">
                <img [src]="principalImage" class="img-fluid rounded-start w-100" alt="...">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">{{product.productName}}</h5>
                    <p class="card-text">
                        {{product.description}}
                    </p>
                    <p *ngIf="product.price!==0" class="h4">
                      Cijena:  {{product.price}} KM
                    </p>
                    <p *ngIf="product.price==0" class="h4">
                        Cijena:  Cijena na
                      </p>
                    <p class="h4">
                        Lokacija
                    </p>
                    
                    <p *ngIf="seller.user.federation!=null" >Grad: {{cities[seller.user.federation][seller.user.city]}}</p> 

                    
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
        </div>
    </div>

    <!-- thumbnail image list -->
    <ul class="list-unstyled d-flex overflow-auto flex-nowrap">
        <li *ngFor="let img of product.productImageList, let i = index" class="flex-row" style="margin-right: 12px;">
            <div class="card" style="width: 5rem;">
                <a (click)="chagePrincipalImage(i);">
                    <img src="./assets/images/{{img.idimage}}{{img.extension}}" class="card-img-top" alt="...">
                </a>
            </div>
        </li>        
    </ul>

    <!-- Seller information -->
    <div class="border border-danger rounded-2 p-2 w-75">
        <!-- <a [routerLink]="['/sellerDetail', product.idprovider]"> -->
            <p class="h4 text-danger">Informacije o firmi</p>
        <!-- </a>         -->

        <p>Ime firme: {{seller.companyName}}</p>
        
            <p>Prodavač: 
                <a [routerLink]="['/sellerDetail', product.idprovider]"> {{seller.user.firstName}} {{seller.user.lastName}}</a>
            </p>
        
        <p>Adresa: {{seller.user.address}}</p>
        <p>Broj telefona: {{seller.user.phone}}</p>

        <!-- seller image product list -->
        <div class="border pt-2">
            <h3>Ostalo od ove firme</h3>
            <ul class="list-unstyled d-flex overflow-auto flex-nowrap">
                <li *ngFor="let prodprov of producByProvider" class="flex-row mx-2">
                    <div class="card" style="width: 12rem;">
                        <a routerLink="../../addetails/{{prodprov.idproduct}}">
                            <img src="./assets/images/{{prodprov.productImageList[0].idimage}}{{prodprov.productImageList[0].extension}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{prodprov.productName}}</h5>
                            </div>
                        </a>
                    </div>
                </li>                
            </ul>
        </div>

    </div>

</div>