<div class="list-group">
    <div class="list-group-item bg-light" aria-current="true">    
        <h3 class="text-center">Historija stanja</h3>
    </div>

    <div class="list-group-item" aria-current="true" *ngFor="let coin of coins" >
        <div class="d-flex w-100 justify-content-between">
            
            <!-- <fa-icon [icon]="['fas','circle-minus']" class="text-danger"></fa-icon> -->
            <h5 class="">
                <div *ngIf="coin.quantity>0">
                    <fa-icon [icon]="['fas','circle-plus']" class="text-success"></fa-icon>
                    ID narudžbe [{{coin.idcoin}}]  &nbsp; Uspješno ste kupili {{coin.quantity}} kredita
                </div>
                <div *ngIf="coin.quantity<0">
                    <fa-icon [icon]="['fas','circle-minus']" class="text-danger"></fa-icon>
                    ID narudžbe [{{coin.idcoin}}]  &nbsp; Potrošili ste na izdvajanje {{coin.quantity}} kredita
                </div>
                                 
            </h5>
            <small class="text-muted">{{coin.buyDate | date: 'dd.MM.yyyy'}}</small>
        </div>
        <p *ngIf="coin.quantity>0" class="mb-1">Narudžba od {{coin.quantity}} kredita</p>
        <p *ngIf="coin.quantity<0" class="mb-1">Potrošeno {{coin.quantity}} kredita</p>
        <!-- <small class="text-muted">And some print.</small> -->
    </div>
    
</div>