<div class="container mb-4">

    <h1 class="text-center my-5">CANCEL SUSCRIPTION DCL</h1>

    <p>Za brisanje vašeg naloga pošaljite nam poruku putem sljedećeg obrasca</p>

    <div
        style="border-radius:20px;border-style:solid;border-width:2%;padding-top:6%;padding-right:6%;padding-bottom:6%;padding-left:6%">
        <form action="">
            
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <input type="submit" class="btn btn-danger" value="supreme" />
        </form>
    </div>