<div class="container mb-3">
    
    <br>
    
    <div class="d-flex justify-content-center">      
        <h1 class="text-center mx-1" >{{titleCategory.name}}</h1>
    </div>

    <hr>
    
    <div class="row">
        <div class="col">
            <a class="btn btn-danger" *ngIf="item<5" [routerLink]="['/providerSubcategoryList', titleCategory.name, 'Filteri',item]">
                <fa-icon [icon]="['fas', 'store']" ></fa-icon>
                Pogledaj sve firme
            </a>
            <a class="btn btn-danger" *ngIf="item==5" [routerLink]="['/productCategoryList', titleCategory.name,'Filteri',item]">
                <fa-icon [icon]="['fas', 'box']" ></fa-icon>
                Svi proizvodi / Usluge
            </a> 
        </div>
        <div class="col">
            <a *ngIf="item==5" class="btn btn-danger" [routerLink]="['/providerSubcategoryList', titleCategory.name, 'Filteri',0]">
                <fa-icon [icon]="['fas', 'store']" ></fa-icon>
                Pogledaj sve firme
            </a>

            <a *ngIf="item<5" class="btn btn-danger" [routerLink]="['/productCategoryList', titleCategory.name, 'Filteri', item ]">
                <fa-icon [icon]="['fas', 'box']" ></fa-icon>
                Svi proizvodi / Usluge
            </a>

        </div>
    </div>
    
    <ul class="nav flex-column" >
  
        <li class="nav-item" *ngFor="let subtitles of mapCategoryService.level2.get(titleCategory.id)"> 
            <p class="h4 mt-1">{{subtitles.name}}</p> 
           
            <ul class="nav flex-column">
                <div >   
                    <li  class="nav-item" *ngFor="let sub of mapCategoryService.level3.get(subtitles.id)">
                        <a *ngIf="item<5" [routerLink]="['/providerSubcategoryList', titleCategory.name, sub.name,sub.id]" class="nav-link bg-dark text-white border-bottom" >{{sub.name}}</a>                       
                        <a *ngIf="item==5" [routerLink]="['/productCategoryList/', titleCategory.name, sub.name, sub.id]" class="nav-link bg-dark text-white border-bottom" >{{sub.name}}</a>                       
                    </li>
                </div>
            </ul>

        </li>

    </ul>
    <br>
    <br>
    <br>
</div>