<div class="container mt-2 mb-3">
    
    <div class="big card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link"  style="cursor: pointer;" [ngClass]="{'active':active}" (click)="getAuthorizedList()">Odobrene</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  style="cursor: pointer;" [ngClass]="{'active':!active}" (click)="getNoAutorizedList()">Za
                        odobravanje</a>
                </li>
            </ul>
        </div>
        <div class="card-body">

            <div class="table-responsive">

                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Naziv projekta</th>
                            <th>Od</th>
                            <th>Do</th>
                            <th>Opis projekta</th>
                            <th>Radnja</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tender of tenders">

                            <th>{{tender.idtender}}</th>
                            <td>{{tender.projectName}}</td>
                            <td>{{tender.dateFrom | date: 'dd.MM.yyyy'}}</td>
                            <td>{{tender.dateTo | date: 'dd.MM.yyyy'}}</td>
                            <td>
                                <p style="overflow: hidden; max-height: 1.2em; line-height: 1; max-width: 360px;"
                                    class="p-0 m-0">
                                    {{tender.description}}</p>
                                ...
                            </td>

                            <td>                             
                                <a routerLink="/paneladmin/tenderDetail/{{tender.idtender}}" class="btn btn-dark btn-sm rounded-pill" style="margin-right: 5px;">
                                    Detalji
                                    <!-- <fa-icon [icon]="['fas', 'circle-info']" class="fs-5">
                                    </fa-icon> -->
                                </a>

                         
                                <a *ngIf="conf_att_button" (click)="confirmTender(tender.idtender)" class="btn btn-dark btn-sm rounded-pill" style="margin-right: 5px;"> 
                                    Potvrdi
                                    <!-- <fa-icon [icon]="['fas', 'check-square']" class="fs-5"></fa-icon> -->
                                </a>

                                <a *ngIf="conf_att_button" (click)="unauthorize(tender.idtender)" class="btn btn-dark btn-sm rounded-pill"> 
                                    Izbriši
                                    <!-- <fa-icon [icon]="['fas', 'check-square']" class="fs-5"></fa-icon> -->
                                </a>

                                <a *ngIf="!conf_att_button" routerLink="{{urlpdf}}/{{tender.idtender}}{{tender.document}}" target="_blank" class="btn btn-dark btn-sm rounded-pill"> 
                                    Prilog
                                    <!-- <fa-icon [icon]="['fas', 'check-square']" class="fs-5"></fa-icon> -->
                                </a>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>


        </div>
    </div>
    <br>
    <br>
    <br>
</div>