<div class="container mt-3 pt-3">

    <p class="h1 text-center"> Administrator panel</p>

    <div class="row">

        <div class="col-2 bg-black d-flex" style="justify-content: center; align-items: center;">
            <button class="boton-hamburguesa d-sm-none" (click)="toggleSidebar()">☰</button>
        </div>

        <div class="col-10">
            <div class="row mt-3">

                <div class="col-6">
                    <p class="h3">{{title}}</p>
                </div>
                <!-- <div class="col-6 d-flex justify-content-end mb-2">

                    <a id="actionButon" #butt class="btn btn-danger">{{action}}</a>

                </div> -->

            </div>
        </div>

    </div>

    <div class="row border">
        <!-- vertical nav -->
        <div class="col-2 bg-black p-0">
                <ul class="nav flex-column bg-black c-white">
                <li class="nav-item border">                    
                    <a class="nav-link" [ngClass]="{'active': currentPage === 'companies'}" (click)="showSellerList()">
                        <fa-icon [icon]="['fas', 'building']" style="font-size: 1.1em"></fa-icon>
                        <span class="d-none d-sm-inline">&nbsp;Odobrene firme</span>
                    </a>
                </li>
                <li class="nav-item border">
                    <a class="nav-link" [ngClass]="{'active': currentPage === 'customers'}" id="product-list"
                        (click)="showBuyerList()">
                        <fa-icon [icon]="['fas', 'users']" style="font-size: 1.1em"></fa-icon>
                        <span class="d-none d-sm-inline">&nbsp;Kupci</span>
                    </a>
                </li>
                <li class="nav-item border w-100">
                    <a class="nav-link" [ngClass]="{'active': currentPage === 'companyConfirmation'}"
                        (click)="showSellerListToConfirm()">
                        <fa-icon [icon]="['fas', 'building-circle-exclamation']" style="font-size: 1.1em"></fa-icon>
                        <span class="d-none d-sm-inline">&nbsp;Firme za odobravanje</span>
                    </a>
                </li>

                <li class="nav-item border w-100">
                    <a class="nav-link" [ngClass]="{'active': currentPage === 'tenderConfirmation'}"
                        (click)="showTenderListToConfirm()">
                        <fa-icon [icon]="['fas', 'list-check']" style="font-size: 1.1em"></fa-icon>
                        <span class="d-none d-sm-inline">&nbsp;Tenderi za odobravanje</span>
                    </a>
                </li>

                <li class="nav-item border w-100">
                    <a class="nav-link" [ngClass]="{'active': currentPage === 'tenderposted'}"
                        (click)="showTenderList()">
                        <fa-icon [icon]="['fas', 'newspaper']" style="font-size: 1.1em"></fa-icon>
                        <span class="d-none d-sm-inline">&nbsp;Objavljeni tenderi</span>
                    </a>
                </li>

                <li class="nav-item border w-100">
                    <a class="nav-link" href="#" (click)="logout()">
                        <fa-icon [icon]="['fas', 'right-from-bracket']" style="font-size: 1.1em"></fa-icon>
                        <span class="d-none d-sm-inline">&nbsp;Odjava</span>
                    </a>
                </li>

            </ul>

        </div>

        <div class="col-10">

            <div *ngIf="activeSellerList">
                <seller-list [accepted]="true" (SellerEditEvent)="showSellerDetail($event)"></seller-list>
            </div>

            <div *ngIf="activeBuyerList">
                <buyer-list (BuyerEditEvent)="showBuyerDetail($event)"></buyer-list>
            </div>

            <div *ngIf="activeSellerListToConfirm">
                <seller-list [accepted]="false" (SellerEditEvent)="showSellerDetail($event)"></seller-list>
            </div>

            <div *ngIf="activeSellerDetail">
                <seller-detail [id]="idseller"></seller-detail>
            </div>

            <div *ngIf="activeTenderListToConfirm">
                <tender-table></tender-table>
            </div> 
            
            <div *ngIf="activeTenderList">
                <tender-list></tender-list>
            </div> 

            <div *ngIf="activeBuyerDetail">

                <div class="w-75 mx-auto my-3">

                    <!-- <div> -->
                    <span *ngIf="buyer.user.active" class="badge rounded-pill bg-success p-2 mb-3">AKTIVAN</span>
                    <span *ngIf="!buyer.user.active" class="badge rounded-pill bg-danger p-2 mb-3">NEAKTIVAN</span>
                    <!-- </div> -->

                    <p class="h6">Email:</p>
                    <input [disabled]="action!=='Save'" type="text" [(ngModel)]="buyer.user.email"
                        [ngClass]="buyer.user.email==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

                    <p class="h6">Ime:</p>
                    <!-- <p [ngClass]="buyer.user.firstName==null ? 'rounded-pill border p-2 text-danger':'border p-2 rounded-pill'">
                      {{buyer.user.firstName ? buyer.user.firstName : 'You have not completed this data' }}
                    </p> -->
                    <input [disabled]="action!=='Save'" type="text" [(ngModel)]="buyer.user.firstName"
                        [ngClass]="buyer.user.firstName==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

                    <p class="h6">Prezime:</p>
                    <input [disabled]="action!=='Save'" type="text" [(ngModel)]="buyer.user.lastName"
                        [ngClass]="buyer.user.lastName==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

                    <p class="h6">Broj mobitela:</p>
                    <input [disabled]="action!=='Save'" type="text" [(ngModel)]="buyer.user.phone"
                        [ngClass]="buyer.user.phone==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

                    <p class="h6">Kanton:</p>
                    <!-- (change)="citiesCombo($event)" -->
                    <select [disabled]="action!=='Save'" (change)="citiesCombo($event)" name="federation" [(ngModel)]="fed" class="form-select rounded-pill mb-3" id="select_federation">
                        <option value="">--Odaberite lokaciju--</option>                        
                        <option [value]="fed.id" [disabled]="fed.id==0" *ngFor="let fed of federations">{{fed.name}}</option>
                        
                        <!-- <option [disabled]="i == 0 || i == 11 || i == 16" *ngFor="let fed of federations, let i = index"
                            [value]="i-1">
                            {{fed}}
                        </option> -->

                    </select>

                    <!-- <input [disabled]="action!=='Save'" type="text" [(ngModel)]="buyer.user.federation"
                      [ngClass]="buyer.user.federation==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'"> -->

                    <p class="h6">Grad:</p>

                    <select [disabled]="action!=='Save'" name="city" (change)="selectedCity($event)"
                        [(ngModel)]="city" class="form-select rounded-pill mb-3" id="select_city">
                        <option value="">--Odaberite Grad--</option>
                        <option *ngFor="let c of citiesToCombo" [value]="c.id">{{c.name}}</option>
                    </select>

                    <!-- <input [disabled]="action!=='Save'" type="text" [(ngModel)]="buyer.user.city"
                      [ngClass]="buyer.user.city==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'"> -->

                    <p class="h6">Postal code:</p>
                    <input [disabled]="action!=='Save'" type="text" [(ngModel)]="buyer.postalCode"
                        [ngClass]="buyer.postalCode==null ? 'mb-3 rounded-pill border text-danger form-control':' mb-3form-control border rounded-pill'">




                </div>

            </div>

        </div>
    </div>

</div>





<div id="menu" class="menu d-flex" [ngClass]="{'mostrar': showSidebar}">

    <div class="w-100">

        <div class="text-end m-2">
            <button class="btn btn-danger" (click)="toggleSidebar()">X</button>
        </div>


        <ul class="bg-primary">
            <li class="bg-primary m-0" style="height: 40px;">
                <a class="nav-link my-3 h4 px-2 h-100" [ngClass]="{'active': currentPage === 'companies'}"
                    (click)="showSellerList()">
                    <fa-icon [icon]="['fas', 'building']" style="font-size: 1.1em"></fa-icon>
                    &nbsp;Odobrene firme
                </a>
            </li>

            <li>
                <a class="nav-link h4 m-0 px-2" style="height: 40px;" [ngClass]="{'active': currentPage === 'customers'}"
                    id="product-list" (click)="showBuyerList()">
                    <fa-icon [icon]="['fas', 'users']" style="font-size: 1.1em"></fa-icon>
                    &nbsp;Objavljivanje
                </a>
            </li>

            <li>
                <a class="nav-link h4 m-0 px-2" style="height: 40px;" [ngClass]="{'active': currentPage === 'companyConfirmation'}"
                    (click)="showSellerListToConfirm()">
                    <fa-icon [icon]="['fas', 'building-circle-exclamation']" style="font-size: 1.1em"></fa-icon>
                    &nbsp;Firme za odobravanje
                </a>
            </li>

            <li class="nav-item border w-100">
                <a class="nav-link" [ngClass]="{'active': currentPage === 'tenderConfirmation'}"
                    (click)="showTenderListToConfirm()">
                    <fa-icon [icon]="['fas', 'building-circle-exclamation']" style="font-size: 1.1em"></fa-icon>
                    <span class="d-none d-sm-inline">&nbsp;Tenderi za odobravanje</span>
                </a>
            </li>

            <li class="nav-item border w-100">
                <a class="nav-link" [ngClass]="{'active': currentPage === 'tenderposted'}"
                    (click)="showTenderList()">
                    <fa-icon [icon]="['fas', 'newspaper']" style="font-size: 1.1em"></fa-icon>
                    <span class="d-none d-sm-inline">&nbsp;Objavljeni tenderi</span>
                </a>
            </li>

            <li>
                <a class="nav-link m-0 h4 px-2" style="height: 40px;" href="#" (click)="logout()">
                    <fa-icon [icon]="['fas', 'right-from-bracket']" style="font-size: 1.1em"></fa-icon>
                    &nbsp;Odjava
                </a>
            </li>

        </ul>

    </div>


</div>




<!-- vertial nav responsive -->
<!-- <div id="menu" class="menu d-flex" [ngClass]="{'mostrar': showSidebar}">

    <div class="w-100">

        <div class="text-end m-2">
            <button class="btn btn-danger" (click)="toggleSidebar()">X</button>
        </div>


        <ul class="bg-primary">
            <li class="bg-primary m-0" style="height: 40px;">
                <a class="nav-link my-3 h4 px-2 h-100" [ngClass]="{'active': currentPage === 'companies'}"
                    (click)="showSellerList()">
                    <fa-icon [icon]="['fas', 'building']" style="font-size: 1.1em"></fa-icon>
                    &nbsp;Odobrene firme
                </a>
            </li>

            <li>
                <a class="nav-link h4 m-0 px-2" style="height: 40px;" [ngClass]="{'active': currentPage === 'customers'}"
                    id="product-list" (click)="showBuyerList()">
                    <fa-icon [icon]="['fas', 'users']" style="font-size: 1.1em"></fa-icon>
                    &nbsp;Objavljivanje
                </a>
            </li>

            <li>
                <a class="nav-link h4 m-0 px-2" style="height: 40px;" [ngClass]="{'active': currentPage === 'companyConfirmation'}"
                    (click)="showSellerListToConfirm()">
                    <fa-icon [icon]="['fas', 'building-circle-exclamation']" style="font-size: 1.1em"></fa-icon>
                    &nbsp;Firme za odobravanje
                </a>
            </li>

            <li class="nav-item border w-100">
                <a class="nav-link" [ngClass]="{'active': currentPage === 'tenderConfirmation'}"
                    (click)="showTenderListToConfirm()">
                    <fa-icon [icon]="['fas', 'building-circle-exclamation']" style="font-size: 1.1em"></fa-icon>
                    <span class="d-none d-sm-inline">&nbsp;Tenderi za odobravanje</span>
                </a>
            </li>

            <li class="nav-item border w-100">
                <a class="nav-link" [ngClass]="{'active': currentPage === 'tenderposted'}"
                    (click)="showTenderList()">
                    <fa-icon [icon]="['fas', 'newspaper']" style="font-size: 1.1em"></fa-icon>
                    <span class="d-none d-sm-inline">&nbsp;Objavljeni tenderi</span>
                </a>
            </li>

            <li>
                <a class="nav-link m-0 h4 px-2" style="height: 40px;" href="#" (click)="logout()">
                    <fa-icon [icon]="['fas', 'right-from-bracket']" style="font-size: 1.1em"></fa-icon>
                    &nbsp;Odjava
                </a>
            </li>

        </ul>

    </div>


</div> -->