<div class="container mt-4">

    <div *ngFor="let c of categoryWithSellers" class="mb-3">

        <h4 class="text-center text-danger mb-0">{{c.category}}</h4>
        <hr class="mt-1">

        <p *ngIf="c.sellers.length==0">Nema firmi za prikaz</p>

        <div class="d-flex overflow-auto flex-nowrap">

            <div *ngFor="let s of c.sellers" class="mx-1">
                <div class="card h-100"  style="width: 13rem;">
                    <img src="assets/images/{{s.image}}" style="height: 200px;" class="card-img-top" alt="...">
                    <hr class="m-0">
                    <div class="card-body">
                        <h6 class="card-title">{{s.companyName}}</h6>                       
                        <a routerLink="provider/{{s.user.id}}" class="stretched-link m-0 p-0"></a>
                    </div>
                </div>
            </div>        
    
        </div>

        <!-- <div class="d-flex justify-content-center">
            <p *ngIf="c.sellers.length==0">No ads to show</p>

            <ul class="list-unstyled d-flex overflow-auto flex-nowrap">

                <li *ngFor="let s of c.sellers" class="flex-row mx-2">
                    <div class="card" style="width: 14rem;">
                        <a routerLink="sellerDetail/{{s.idprovider}}">
                            <img src="./assets/images/{{s.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{s.companyName}}</h5>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div> -->
    </div>

    <h4 class="text-center text-danger mb-0">{{categoryNames[4]}}</h4>
    <hr class="mt-1">
    <!-- row row-cols-5 -->
    <!-- overflow-auto d-flex flex-nowrap g-1 -->

    <p *ngIf="products.length==0">No ads to show</p>

    <div class="d-flex overflow-auto flex-nowrap">

        <div *ngFor="let product of products.slice(0,5)" class="mx-1">
            <div class="card h-100" style="width: 13rem;">
                <img src="assets/images/{{product.productImageList[0].idimage}}{{product.productImageList[0].extension}}" style="height: 200px;" class="card-img-top" alt="...">
                <hr class="m-0">
                <div class="card-body">
                    <h6 class="card-title">{{product.productName}}</h6>  
                    <p class="card-text mb-0" *ngIf="product.price==0">Cineja na</p>
                    <p class="card-text mb-0" *ngIf="product.price>0">{{product.price}} KM</p>                     
                    <a routerLink="addetails/{{product.idproduct}}" class="stretched-link m-0 p-0"></a>
                </div>
            </div>
        </div>        

    </div>
   
   
   
   
   
   
   
   
   
    <!-- <div class="d-flex justify-content-center">

        <p *ngIf="products.length==0">No ads to show</p>

        <ul class="list-unstyled d-flex overflow-auto flex-nowrap">

            <li *ngFor="let product of products.slice(0,5)" class="flex-row mx-2">

                <div class="card" style="width: 14rem;">
                    <a routerLink="addetails/{{product.idproduct}}">
                        <img src="./assets/images/{{product.productImageList[0].idimage}}{{product.productImageList[0].extension}}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{product.productName}}</h5>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div> -->

</div>