<!-- carrusel -->
<div id="carouselExampleFade" class="carousel slide carousel-fade d-none d-sm-block" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active d-flex justify-content-center">
            <img src="assets/images/D_NQ_790622-MLA69393513459_052023-OO.webp" class="d-block" alt="...">
        </div>
        <div class="carousel-item d-flex justify-content-center">
            <img src="assets/images/D_NQ_937834-MLA69393511417_052023-OO.webp" class="d-block" alt="...">
        </div>
        <div class="carousel-item d-flex justify-content-center">
            <img src="assets/images/D_NQ_863459-MLA69393473823_052023-OO.webp" class="d-block" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- carrusel end -->

<!-- carrusel computer -->
<div id="carouselExampleFade" class="carousel slide carousel-fade d-sm-none h-50" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active d-flex justify-content-center">
            <img src="assets/images/D_NQ_949374-MLA69383731340_052023-F.webp" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item d-flex justify-content-center">
            <img src="assets/images/descarga.webp" class="d-block w-100" alt="...">
        </div>

        <!-- <div class="carousel-item d-flex justify-content-center">
            <img src="assets/images/D_NQ_863459-MLA69393473823_052023-OO.webp" class="d-block" alt="...">
        </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- cinta roja version2 -->
<div class="container mt-3">
    <div class="border border-2 border-danger d-flex justify-content-between overflow-auto flex-nowrap rounded pt-2">

        <div class="d-flex mx-2 ">
            <fa-icon [icon]="['fas', 'building']" class="fs-4 mx-2"></fa-icon>
            <div>
                <strong style="white-space: nowrap;">Sve firme</strong>
                <p>BiH</p>
            </div>
        </div>
        <div class="d-flex mx-2">
            <fa-icon [icon]="['fas', 'handshake']" class="fs-4 mx-2"></fa-icon>
            <div>
                <strong>Zadovoljnih</strong>
                <div>Klijenata</div>
            </div>
        </div>
        <div class="d-flex mx-2">
            <fa-icon [icon]="['fas', 'headset']" class="fs-4 mx-2"></fa-icon>
            <div>
                <strong style="white-space: nowrap;">365 dana</strong>
                <div>Podrške</div>
            </div>
        </div>
        <div class="d-flex mx-2">
            <fa-icon [icon]="['fas', 'hand-holding-medical']" class="fs-4 mx-2"></fa-icon>
            <div>
                <strong>Plaćanje</strong>
                <div>Sigurno</div>
            </div>
        </div>
        <div class="d-flex mx-2">
            <fa-icon [icon]="['fas', 'tag']" class="fs-4 mx-2"></fa-icon>
            <div>
                <strong style="white-space: nowrap;">Samo najbolji</strong>
                <div>Kvalitet</div>
            </div>
        </div>

    </div>
</div>



<div class="container mt-2">


    <div class="row row-banner" style="margin: auto 0;">

        <div class="mb-2 col-m-12 col-xl-6 d-flex justify-content-center pg">
            <a class="" href="https://podrska.dcl.ba/marketing/">
                <img class="rounded-3 pg" src="https://podrska.dcl.ba/wp-content/uploads/2022/06/BANNER-570X152.jpg"
                    alt="">
            </a>
        </div>

        <div class="col-m-12 col-xl-6 d-flex justify-content-center pq">



            <a href="https://podrska.dcl.ba/marketing/" style="margin-right: 3px;">
                <img class="rounded-3" src="https://podrska.dcl.ba/wp-content/uploads/2022/06/BANNER-270X152.jpg"
                    alt="">
            </a>

            <a href="https://podrska.dcl.ba/marketing/">
                <img class="rounded-3" src="https://podrska.dcl.ba/wp-content/uploads/2022/06/BANNER-270X152.jpg"
                    alt="">
            </a>



        </div>



    </div>

</div>

<div class="container bg-light">

    <div class="row py-0">

        <div class="col-6 col-md-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="https://podrska.dcl.ba/wp-content/uploads/2022/04/istockphoto-1278244116-612x612-1-600x500.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <p class="card-text">Armirano-betonski radovi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="https://podrska.dcl.ba/wp-content/uploads/2022/06/png-clipart-video-cameras-bible-film-clapperboard-audio-visual-studio-mix-600x500.png"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <p class="card-text">Audio, video i foto</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="https://podrska.dcl.ba/wp-content/uploads/2022/05/betonski-radovi-1-600x500.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <p class="card-text">Betonski radovi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="https://podrska.dcl.ba/wp-content/uploads/2022/05/zagreb-20120904-00546-600x500.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <p class="card-text">Bravarski radovi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-0">

        <div class="col-6 col-md-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="https://podrska.dcl.ba/wp-content/uploads/2022/05/ARCO-regal-570x321-1-600x500.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <p class="card-text">Dnevni boravak namještaj</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="https://podrska.dcl.ba/wp-content/uploads/2022/05/o_341193_1024-600x500.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <p class="card-text">Gradjevinarstvo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="https://podrska.dcl.ba/wp-content/uploads/2022/05/gradjevinarstvo-600x500.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <p class="card-text">Gradjevinski radovi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="https://podrska.dcl.ba/wp-content/uploads/2022/05/4041338731-600x500.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <p class="card-text">Krovopokrivački radovi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <productos-inicio></productos-inicio>

</div>