<div class="container mt-2">

    <!-- buttons -->
    <div class="d-flex justify-content-end mb-1">
        <a routerLink="/panelseller/product" class="btn btn-secondary btn-sm">Novi proizvod</a>       
    </div>

    <div class="row row-cols-2 row-cols-sm-5 g-2 mb-3">

        <div *ngFor="let product of products" class="col">

            <div class="card h-100">
                <img src="{{urlprod_img}}{{product.productImageList[0].idimage}}{{product.productImageList[0].extension}}"
                    style="height: 200px;" class="card-img-top" alt="...">
                <hr class="m-0">
                <div class="card-body">
                    <h6 class="card-title">{{product.productName}}</h6>
                    <p class="card-text mb-0" *ngIf="product.price==0"><b>Cijena po dogovoru</b></p>
                    <p class="card-text mb-0" *ngIf="product.price>0"><b>{{product.price}}</b> <b> KM</b></p>
                    <a routerLink="/panelseller/product/{{product.idproduct}}" class="stretched-link m-0 p-0"></a>
                    <!-- (click)="showEditProductComponente(product.idproduct)" -->
                </div>
            </div>
        </div>
    </div>
</div>