<div class="container mt-2 mb-3">

    <!-- buttons -->
    <div class="d-flex justify-content-end mb-1">
        <a routerLink="/panelseller/product" class="btn btn-secondary btn-sm">Objavi uslugu / proizvod</a>
    </div>

    <div class="row row-cols-2 row-cols-sm-5 g-2 mb-3">

        <div *ngFor="let product of products" class="col">

            <div class="card h-100">
                <img src="{{urlprod_img}}{{product.mainImage}}"
                    style="height: 200px;" class="card-img-top" alt="...">
                <hr class="m-0">
                <div class="card-body">
                    <h6 class="card-title">{{product.productName}}</h6>
                    <p class="card-text mb-0" *ngIf="product.price==0"><b>Cijena po dogovoru</b></p>
                    <p class="card-text mb-0" *ngIf="product.price>0"><b>{{product.price}}</b> <b> KM</b></p>
                   
                    <div class="row g-1">
                        <div class="col">
                            <a class="btn btn-danger btn-sm rounded-pill d-block" routerLink="/addetails/{{product.idproduct}}">
                                <fa-icon [icon]="['fas','eye']"></fa-icon> Prikaži
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-danger btn-sm rounded-pill d-block" 
                                routerLink="/promotions/{{product.idproduct}}/promote">
                                <fa-icon [icon]="['fas','rocket']"></fa-icon> Izdvoji
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>