<div class="d-flex flex-column h-100">
    <!-- header: -->
    <div class="my-2">

        <div class="d-flex justify-content-between px-2">

            <a class="text-decoration-none text-reset" routerLink="/chat2/chats">
                <fa-icon [icon]="['fas','arrow-left']" style="font-size: 1.2em;"></fa-icon>
            </a>

            <div style="margin-left: 20px;">
                <fa-icon [icon]="['fas','circle-user']" style="font-size: 1.2em; margin-right: 4px;"></fa-icon>
                <b>{{chatingWhit}}</b>
            </div>

            <div>&nbsp;</div>

        </div>

    </div>

    <hr class="mb-0 mt-2">

    <!-- messages: -->
    <div class="overflow-auto flex-grow-1" style="overflow-y: auto;" #messageContainer (scroll)="onScroll()">
        <div *ngIf="isLoading" class="text-center mt-2">
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div *ngFor="let m of dateOrder">
            <span class="text-muted text-center d-block my-3 text-decoration-underline">{{m | date: 'dd.MM.yyyy'}}</span>
            <!-- <h2>{{ m.date | date: 'dd/MM/yyyy' }}</h2> -->
            <!-- <div *ngFor="let chat of m.chats">
                <div>{{ chat.dateTime | date: 'HH:mm' }}  {{ chat.content }}</div>
            </div> -->
            <div *ngFor="let m of chatGroups2.get(m)" class="d-flex" [ngClass]="{'justify-content-end': m.sender==thisidUser}">
                <p [ngClass]="m.sender==thisidUser ? 'bg-dark' : 'bg-secondary'"
                    class="p-2 m-1 text-white rounded-pill text-break" style="max-width: 85%;">{{m.content}} &nbsp;
                    <span style="font-size: smaller;">{{m.dateTime | date: 'HH:mm'}}</span>
                </p>
            </div>
        </div>


    </div>

    <!-- footer: -->
    <div class="d-flex align-items-center position-sticky bottom-0">
        <div class="input-group">

            <input (keyup.enter)="sendMessage()" type="text" [(ngModel)]="msg.content" class="form-control"
                placeholder="Napišite poruku">
            <button (click)="sendMessage()" class="input-group-text mb-0 minibtn" id="basic-addon2">
                <fa-icon [icon]="['fas','paper-plane']"></fa-icon>
            </button>

        </div>
    </div>
</div>