<header #header>
    <app-header></app-header>
    <!-- <navbar-menu-category></navbar-menu-category> -->
    <app-new-category-list></app-new-category-list>
</header>
<!-- [style.height]="mainHeight" -->
<main [style.height]="mainHeight">
    <router-outlet></router-outlet>
</main>



<!-- <footer class="bg-dark w-100"> -->
<!-- <div class="bg-danger py-3"> -->
<!-- <div class="container m-0 text-center">
            © <a class="h6" routerLink="/">DCL.ba</a> <span class="h6"> - Sva prava zadržana</span>
        </div> -->
<!-- </div> -->
<!-- <div style="height: 40px;"></div> -->

<!-- </footer> -->
<!-- d-sm-none -->
<div class="d-block d-sm-none">    
    <navbar-general-phone ></navbar-general-phone>
</div>

<div *ngIf="modalOpen">
    <modal-ms [message]="ms" [type]="type"></modal-ms>
</div>

<div *ngIf="showChats">
    <app-chat-mini [idprovider]="providerId"></app-chat-mini>
</div>

