<div class="container mt-2">

    <div class="table-responsive border">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Email</th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let buyer of buyers">
                    <th>{{buyer.id}}</th>
                    <td>{{buyer.user.firstName}}</td>
                    <td>{{buyer.user.lastName}}</td>
                    <td>{{buyer.user.email}}</td>
                    <td>

                        <a routerLink="/paneladmin/customer/{{buyer.user.id}}" class="btn btn-dark btn-sm mx-1 rounded-pill">Detalji</a>
                        <!-- <button class="btn btn-dark mx-1">Deaktiviraj</button> -->

                    </td>
                </tr>
            </tbody>

        </table>

    </div>

</div>