<!-- list started chats: -->
<div *ngIf="chatsListActive" class="card text-center mini-chats" [ngClass]="{'mobile-chat': isMobile}">
    <div class="card-header bg-danger text-white">
        <div class="row">
            <div class="col d-flex justify-content-start"><fa-icon [icon]="['fas','comment']"></fa-icon></div>
            <div class="col"> <b>Poruke</b> </div>
            <div (click)="closeMsgBox()" class="col d-flex justify-content-end text-dark">
                <fa-icon [icon]="['fas','close']" style="font-size: 1.3em; cursor:pointer"></fa-icon>
                <!-- <button type="button" class="btn-close btn-close-white" aria-label="Close"></button> -->
            </div>
        </div>

    </div>

    <div class="card-body">

        <div *ngIf="loading" class="text-center">
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div (click)="getChats(m.idchat, m.first_name+' '+m.last_name, m.idUser)" class="selectChat"
            *ngFor="let m of LastMessageEachChat">
            <div class="row g-0" [ngClass]="(m.seen || m.sender==thisidUser)? 'row g-0' : 'row g-0 bg-info'">
                <div class="col-2 d-flex justify-content-center" style="align-items: center;">
                    <fa-icon [icon]="['fas','circle-user']" style="font-size: 2em;"></fa-icon>
                </div>
                <div class="col-10">

                    <div class="d-flex justify-content-between">
                        <span>{{m.first_name+" "+m.last_name}}</span>
                        <span style="font-size: small;">{{m.dateTime | date: 'dd.MM.yyyy'}}</span>
                    </div>

                    <p class="text-muted mb-0 text-start text-nowrap overflow-hidden text-truncate" scrollHeight
                        scrollTop>
                        <span *ngIf="m.sender==thisidUser">Tu:</span> {{m.content}}
                    </p>
                </div>
            </div>
            <hr class="m-0">

        </div>

    </div>

</div>


<div *ngIf="activeChat" class="card text-center mini-msg" [ngClass]="{'minimized':minimized, 'mobile-chat':isMobile}">

    <div class="card-header bg-danger text-white">

        <span class="m-0 p-0 h6">
            <div class="row">
                <div class="col-10 d-flex justify-content-start">
                    <div (click)="back()" style="cursor: pointer; margin-right: 0.8em;">
                        <fa-icon [icon]="['fas','arrow-left']" class="text-dark"></fa-icon>
                    </div>
                    <fa-icon [icon]="['fas','circle-user']" style="margin-right: 4px;"></fa-icon>
                    {{chatingWhit}}
                </div>
                <div class="col-2">
                    <div (click)="minimizeMsgBox()" style="cursor: pointer;" class="d-flex justify-content-end">
                        <fa-icon [icon]="['fas','minus']" class="text-dark" *ngIf="!minimized"></fa-icon>
                        <fa-icon [icon]="['fas','window-maximize']" class="text-dark" *ngIf="minimized"></fa-icon>
                    </div>
                </div>
            </div>
        </span>

    </div>

    <div class="card-body" #messageContainer (scroll)="onScroll()">

        <div *ngIf="loading" class="text-center">
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <!-- *ngFor="let m of chatGroups2"  -->
        <div *ngFor="let m of dateOrder">
            <span class="text-muted d-block border-bottom" style="font-size: smaller; margin-top: 10px; margin-bottom: 5px;">{{m |
                date: 'dd.MM.yyyy'}}</span>
            <div *ngFor="let m of chatGroups2.get(m)" class="d-flex my-1" [ngClass]="{'justify-content-end': m.sender==thisidUser}">
                <p [ngClass]="m.sender==thisidUser ? 'bg-dark' : 'bg-secondary'"
                    class="p-1 text-white rounded text-break m-0" style="max-width: 85%; font-size: small;">{{m.content}} &nbsp;
                    <span style="font-size: smaller;">{{m.dateTime | date: 'HH:mm'}}</span>
                </p>
            </div>
        </div>
    </div>


    <div class="card-footer text-muted">
        <div class="input-group">

            <input (keyup.enter)="sendMessage()" type="text" [(ngModel)]="msg.content" class="form-control"
                placeholder="Napišite poruku">
            <button (click)="sendMessage()" class="input-group-text mb-0 minibtn" id="basic-addon2">
                <fa-icon [icon]="['fas','paper-plane']"></fa-icon>
            </button>

        </div>
    </div>

</div>