<div class="container">
    
    <br>
    
    <div class="d-flex justify-content-center">
        <!-- <fa-icon [icon]="['fas', 'building']" style="font-size: 1.5em;"></fa-icon>         -->
        <h1 *ngIf="!title2" class="text-center mx-1" >{{cate.name[item]}}</h1>
        <h1 *ngIf="title2" class="text-center mx-1" >{{title2}}</h1>
    </div>

    <hr>
    
    <div class="row">
        <div class="col">
            <a class="btn btn-danger" *ngIf="item<4" [routerLink]="['/providerSubcategoryList', item+1, '0']">
                <fa-icon [icon]="['fas', 'store']" ></fa-icon>
                Pogledaj sve firme
            </a>
            <a class="btn btn-danger" *ngIf="item==4" [routerLink]="['/productCategoryList', item+1, '0']">
                <fa-icon [icon]="['fas', 'box']" ></fa-icon>
                Svi proizvodi / Usluge
            </a> 
        </div>
        <div class="col">
            <a *ngIf="item==4" class="btn btn-danger" [routerLink]="['/providerSubcategoryList', 0, '0']">
                <fa-icon [icon]="['fas', 'store']" ></fa-icon>
                Pogledaj sve firme
            </a>

            <a *ngIf="item<4" class="btn btn-danger" [routerLink]="['/productCategoryList', '0', '0', item+1]">
                <fa-icon [icon]="['fas', 'box']" ></fa-icon>
                Svi proizvodi / Usluge
            </a>

        </div>
    </div>
    
    <ul class="nav flex-column" >

        <li class="nav-item" *ngFor="let title of cate.title[item], let i = index">
            <p class="h4 mt-1">{{title}}</p>          
                 
           
            <ul class="nav flex-column">
                <div *ngIf="item==0">                    
                    <li class="nav-item" *ngFor="let sub of cate.subcategory1[i], let j = index">
                        <a [routerLink]="['/providerSubcategoryList/1/',cate.getId(0,i)+j]" class="nav-link bg-dark text-white border-bottom" >{{sub}}</a>                       
                    </li>
                </div>

                <div *ngIf="item==1">
                    <li class="nav-item" *ngFor="let sub of cate.subcategory2[i], let j = index">                        
                        <a [routerLink]="['/providerSubcategoryList/2/', cate.getId(1,i)+j]" class="nav-link bg-dark text-white border-bottom" >{{sub}}</a>  
                    </li>
                </div>

                <div *ngIf="item==2">
                    <li class="nav-item" *ngFor="let sub of cate.subcategory3[i], let j = index">
                        <a [routerLink]="['/providerSubcategoryList/3/', cate.getId(2,i)+j]" class="nav-link bg-dark text-white border-bottom" >{{sub}}</a>  
                    </li>
                </div>

                <div *ngIf="item==3">
                    <li class="nav-item" *ngFor="let sub of cate.subcategory4[i], let j = index">
                        <a [routerLink]="['/providerSubcategoryList/4/', cate.getId(3,i)+j]" class="nav-link bg-dark text-white border-bottom" >{{sub}}</a>  
                    </li>
                </div>

                <div *ngIf="item==4">
                    <li class="nav-item" *ngFor="let sub of cate.subcategory5[i], let j = index">
                        <a [routerLink]="['/productCategoryList/5/', cate.getId(4,i)+j]" class="nav-link bg-dark text-white border-bottom" >{{sub}}</a>  
                    </li>
                </div>

            </ul>

        </li>

    </ul>
    <br>
    <br>
    <br>
</div>