<div class="table-responsive">

    <table class="table table-striped">
        
        <thead>
            <tr>
              <th >Id</th>
              <th >Company</th>
              <th >Firs</th>
              <th >Last</th> 
              <th >email</th> 
              <th >Action</th>     
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let seller of sellers">
              <th>{{seller.idprovider}}</th>
              <td>{{seller.companyName}}</td>
              <td>{{seller.user.firstName}}</td>
              <td>{{seller.user.lastName}}</td>  
              <td>{{seller.user.email}}</td>             
              <td>               
                
                <button (click)="emitSellerEdit(seller.user.id)" class="btn btn-dark mx-2" >see details</button>
                <button *ngIf="!accepted" (click)="confirm(seller.user.id)" class="btn btn-dark mx-2" >Confirm</button>
                <button *ngIf="accepted" (click)="deactivate(seller.user.id)" class="btn btn-dark mx-2" >Deactivate</button>

              </td>           
            </tr>           
          </tbody>

    </table>

</div>
