<div class="table-responsive">

    <table class="table table-striped">
        
        <thead>
            <tr>
              <th >ID</th>
              <th >Firma</th>
              <th >Ime</th>
              <th >Prezime</th> 
              <th >email</th> 
              <th >Radnja</th>     
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let seller of sellers">
              <th>{{seller.idprovider}}</th>
              <td>{{seller.companyName}}</td>
              <td>{{seller.user.firstName}}</td>
              <td>{{seller.user.lastName}}</td>  
              <td>{{seller.user.email}}</td>             
              <td>               
                
                <button (click)="emitSellerEdit(seller.user.id)" class="btn btn-dark mx-2" >detalji</button>
                <button *ngIf="!accepted" (click)="confirm(seller.user.id)" class="btn btn-dark mx-2" >Aktiviraj</button>
                <button *ngIf="accepted" (click)="deactivate(seller.user.id)" class="btn btn-dark mx-2" >Deaktiviraj</button>

              </td>           
            </tr>           
          </tbody>

    </table>

</div>
