
.img-container {
    display: block;
    justify-content: center;
    padding: 16px 16px;
    background-color: blue;
}

img{    
    text-align: center;
    display:flex;
    justify-content: center;
    max-height: 160px;    
    width: auto;

}

.card{
    height: 290px;
}