<div *ngIf="!showAdditionalData" class="container">

    <div *ngIf="loading" class="text-center mt-3">
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div *ngIf="!loading">

        <div class="border border-2 border-danger rounded p-2 mt-3" *ngIf="!authorizedSeller">
            <p>Jeste li sigurni da je Vaš profil odobren za prodaju?</p>
            <p>Molimo Vas da se obratite vlasniku stranice.</p>
        </div>

        <div *ngIf="authorizedSeller" class="card mt-3 shadow">

            <div class="text-center">
                <br>
                <div class="d-flex justify-content-center">
                    <p class="h1">Novi oglas</p>

                    <!-- <a *ngIf="!isNewProduct && product.promoted!==null" class="btn btn-dark h-75 mx-5" routerLink="/promotions/{{product.idproduct}}/promote">
                        <fa-icon [icon]="['fas','rocket']" class="mx-2"></fa-icon>
                        Izdvoji
                    </a>                     -->
                </div>
                <!-- <span class="badge bg-primary" *ngIf="product.promoted">                  
                    this product is being promoted</span> -->
                <br>
            </div>

            <div class="w-75 mx-auto">

                <form (ngSubmit)="submit()">

                    <div class="row g-1 mb-3">

                        <div class="col-12 col-sm-6">
                            <label for="product_name">Ime proizvoda&nbsp;<span class="form-label">*</span></label>
                            <input type="text" class="form-control" name="product_name" id="ime"
                                autocomplete="Ime proizvoda" value="" [(ngModel)]="product.productName">
                        </div>


                        <!-- [(ngModel)]="product.categoryList[i+1].idcategory" -->
                        <div *ngFor="let cat of categories, let i = index" class="col-12 col-sm-6">                          
                            <label *ngIf="i==0">Kategorija proizvoda&nbsp;<span class="form-label">*</span></label>
                            <label *ngIf="i>0">Podkategorija proizvoda&nbsp;<span class="form-label">*</span></label>
                            
                            <select *ngIf="isNewProduct" [name]="cat[0].name" (change)="selectedSub($event,i)" class="form-select" [(ngModel)]="product.categoryList[i]">                                                            
                                <option *ngIf="i==0" value="">--Odaberite kategoriju--</option>
                                <option *ngIf="i>0" value="">--Odaberite Podkategoriju--</option>
                                <option *ngFor="let sub of cat" value={{sub.id}}>{{sub.name}}</option>
                            </select>

                            <select *ngIf="!isNewProduct" [name]="cat[0].name" (change)="selectedSub($event,i)" class="form-select" [(ngModel)]="product.categoryList[i+1].idcategory">                                                            
                                <option *ngIf="i==0" value="">--Odaberite kategoriju--</option>
                                <option *ngIf="i>0" value="">--Odaberite Podkategoriju--</option>
                                <option *ngFor="let sub of cat" value={{sub.id}}>{{sub.name}}</option>
                            </select>
                        </div>
                       
                    </div>

                    <div class="mb-3">

                        <label for="description">Opis&nbsp;</label>
                        <textarea class="form-control" id="description" name="description" rows="3"
                            [(ngModel)]="product.description"></textarea>
                    </div>


                    <div class="form-check">                        
                        <input class="form-check-input" [(ngModel)]="product.type" [value]=1 type="radio" name="type"
                            id="type1">
                        <label class="form-check-label" for="type1">
                            Novo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="product.type" [value]=2 type="radio" name="type"
                            id="type2">
                        <label class="form-check-label" for="type2">
                            Korišteno
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="product.type" [value]=3 type="radio" name="type"
                            id="type3">
                        <label class="form-check-label" for="type3">
                            Usluga
                        </label>
                    </div>


                    <div class="row my-3">

                        <div class="col-12 col-sm-6">
                            <label for="price">Cijena&nbsp;<span class="form-label">*</span></label>
                            <input type="number" class="form-control" name="price" id="price" rows="3"
                                [(ngModel)]="product.price" [disabled]="priceRequest">                               
                        </div>

                        <div class="col-12 col-sm-6">

                            <div class="row">
                                <div class="col-12">
                                    <label for="price">Cijena na upit&nbsp;<span class="form-label">*</span></label>
                                </div>
                                <div class="col-12">
                                    <input type="checkbox" class="btn-check" id="btn-check-2-outlined"
                                        (click)="priceonrequest()" [checked]="product.price==0" autocomplete="off">
                                    <label class="btn btn-outline-secondary d-block" for="btn-check-2-outlined">
                                        Po dogovoru
                                    </label>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="input-group mt-3 mb-2">
                        <input type="file" accept="image/*" (change)="onFileSelected($event)" class="form-control"
                            multiple id="imagesInput">
                    </div>

                    <!-- <div class="drop-zone">
                        <ul #imagelist id="imagelist">
                            <li *ngFor="let image of images;" [id]="image.id">
                                <div class="position-relative">
                                    <img [src]="image.link" width="100">
                                    <div class="rounded-circle w-25 text-center bg-warning">
                                        <button class="btn btn-danger position-absolute bottom-0 end-0">
                                            <fa-icon [icon]="['fas','trash']" style="font-size: 0.8em"></fa-icon>
                                        </button>
                                    </div>                                  
                                </div>
                            </li>
                        </ul>
                    </div> -->

                    <div class="drop-zone d-flex flex-wrap">
                        <!-- style="width: 12rem; height: 13rem;" -->
                        <div *ngFor="let image of images;" class="card mx-1" style="width: 11em; height: 13em;" [id]="image.id">
                            <img [src]="image.link" class="card-img-top" style="height: 150px;" alt="...">
                            <hr class="p-0 m-0">
                            <div class="card-footer text-center">
                                <label (click)="removeImage(image)" class="btn btn-danger rounded-pill">
                                    <fa-icon [icon]="['fas','trash']"></fa-icon>
                                    Izbriši
                                    <!-- style="font-size: 0.8em" -->
                                </label>
                            </div>
                        </div>


                    </div>

                    <div *ngIf="!next" class="text-center">
                        <input type="submit" value="{{isNewProduct?'Dodaj':'Izmijeni'}}" class="btn btn-danger">
                    </div>

                    <div *ngIf="next" class="text-center d-flex justify-content-end">
                        <input type="submit" value="Dalje ->" class="btn btn-dark">
                    </div>

                </form>

                <br>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

<div *ngIf="showAdditionalData" >
    <app-truck [formData]="formData" (dataEvent)="next_previous($event)"></app-truck>
</div>
