<div class="container">

    <div *ngIf="loading" class="text-center mt-3">
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div *ngIf="!loading">

        <div class="border border-2 border-danger rounded p-2 mt-3" *ngIf="!authorizedSeller">
            <p>Jeste li sigurni da je Vaš profil odobren za prodaju?</p>
            <p>Molimo Vas da se obratite vlasniku stranice.</p>
        </div>

        <div *ngIf="authorizedSeller" class="card mt-3 shadow">

            <div class="text-center">
                <br>
                <p class="h1">Novi oglas</p>
                <br>
            </div>

            <div class="w-75 mx-auto">

                <form (ngSubmit)="submit()">

                    <div class="row g-1 mb-3">

                        <div class="col-12 col-sm-6">
                            <label for="product_name">Ime proizvoda&nbsp;<span class="form-label">*</span></label>
                            <input type="text" class="form-control" name="product_name" id="ime"
                                autocomplete="Ime proizvoda" value="" [(ngModel)]="product.productName">
                        </div>

                        <div class="col-12 col-sm-6">
                            <label>Kategorija proizvoda&nbsp;<span class="form-label">*</span></label>
                            <select name="idsubcategory" (change)="selectedSub($event)"
                                [(ngModel)]="product.idsubcategory" class="form-select">
                                <option value="">--Odaberite podkategoriju--</option>
                                <option *ngFor="let sub of subcategories" value={{sub.idsubcategory}}>
                                    {{sub.subcategoryName}}
                                </option>
                            </select>
                        </div>

                    </div>

                    <div class="mb-3">

                        <label for="description">Opis&nbsp;</label>
                        <textarea class="form-control" id="description" name="description" rows="3"
                            [(ngModel)]="product.description"></textarea>
                    </div>

                    <div class="row mb-3">

                        <div class="col-12 col-sm-6">
                            <label for="price">Cijena&nbsp;<span class="form-label">*</span></label>
                            <input type="number" class="form-control" name="price" id="price" rows="3"
                                [(ngModel)]="product.price" [disabled]="priceRequest">
                        </div>

                        <div class="col-12 col-sm-6">

                            <div class="row">
                                <div class="col-12">
                                    <label for="price">Cijena na upit&nbsp;<span class="form-label">*</span></label>
                                </div>
                                <div class="col-12">
                                    <input type="checkbox" class="btn-check" id="btn-check-2-outlined"
                                        (click)="priceonrequest()" [checked]="product.price==0" autocomplete="off">
                                    <label class="btn btn-outline-secondary d-block"
                                        for="btn-check-2-outlined">
                                        Po dogovoru
                                    </label>
                                </div>
                            </div>
         
                        </div>

                    </div>


                    <div class="input-group mt-3 mb-2">
                        <input type="file" (change)="onFileSelected($event)" class="form-control" multiple
                            id="imagesInput">
                    </div>

                    <div class="drop-zone">
                        <ul #imagelist id="imagelist">
                            <li *ngFor="let image of images;" [id]="image.id">
                                <div class="position-relative">
                                    <img [src]="image.link" width="100">
                                    <div class="rounded-circle w-25 text-center bg-warning">
                                        <button class="btn btn-danger position-absolute bottom-0 end-0">
                                            <fa-icon [icon]="['fas','trash']" style="font-size: 0.8em"></fa-icon>
                                        </button>
                                    </div>
                                    <!-- <button type="button" class="btn btn-danger w-50 rounded-circle position-absolute bottom-0 end-0" (click)="removeImage(image)">                                                             
                                    <fa-icon [icon]="['fas','trash']" class="m-0 p-0"></fa-icon>
                                </button> -->
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Dodaj" class="btn btn-danger">
                    </div>


                </form>
                <br>
            </div>
        </div>
    </div>
</div>