<div class="container mt-3 pt-3">

  <p class="h1 text-center">Korisnički panel kupca</p>

  <div class="row">

    <div class="col-2 bg-black d-flex" style="justify-content: center; align-items: center;">
      <button class="boton-hamburguesa d-sm-none" (click)="toggleSidebar()">☰</button>
    </div>

    <div class="col-10">
      <div class="row mt-3">


        <div class="col-6">
          <p class="h3">{{title}}</p>
        </div>

        <div class="col-6 d-flex justify-content-end mb-2">
          <div *ngIf="title=='Profil'">
            <button [disabled]="saving" class="btn btn-danger mx-2" (click)="editForm();">{{action}}</button>
            <button class="btn btn-dark" *ngIf="action=='Save'" (click)="cancel();">Cancel</button>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="row border">

    <div class="col-2 bg-black p-0">

      <ul class="nav flex-column bg-black c-white">
        <li class="nav-item border">
          <a class="nav-link" [ngClass]="{'active': currentPage === 'profile'}" (click)="showBuyerDetail()">
            <fa-icon [icon]="['fas', 'address-card']" style="font-size: 1.1em"></fa-icon>
            <span class="d-none d-sm-inline">&nbsp;Profil</span>
          </a>
        </li>
        <li class="nav-item border">
          <a class="nav-link" [ngClass]="{'active': currentPage === 'orders'}" (click)="showOrderList()">
            <fa-icon [icon]="['fas', 'shopping-basket']" style="font-size: 1.1em"></fa-icon>
            <span class="d-none d-sm-inline">&nbsp;Narudžbe</span>
          </a>
        </li>

        <li class="nav-item border">
          <a class="nav-link" [ngClass]="{'active': currentPage === 'tenderTable'}" (click)="showTenderTable()">
            <fa-icon [icon]="['fas', 'list-check']" style="font-size: 1.1em"></fa-icon>
            <span class="d-none d-sm-inline">&nbsp;Tender</span>
          </a>
        </li>


        <li class="nav-item border">
          <a class="nav-link" [ngClass]="{'active': currentPage === 'tenderapply'}" (click)="showTenderApply()">
            <fa-icon [icon]="['fas', 'newspaper']" style="font-size: 1.1em"></fa-icon>
            <span class="d-none d-sm-inline">&nbsp;Tender</span>
          </a>
        </li>


        <li class="nav-item border">
          <a class="nav-link" href="#" (click)="logout()">
            <fa-icon [icon]="['fas', 'right-from-bracket']" style="font-size: 1.1em"></fa-icon>
            <span class="d-none d-sm-inline">&nbsp;Odjava</span>
          </a>
        </li>

      </ul>


    </div>




    <div class="col-10" *ngIf="currentPage =='orders'">

      <div class="table-responsive">

        <table class="table table-striped">
          <p class="h6 text-center m-2" *ngIf="orders.length ==0">Nema narudžbi za prikaz</p>
          <thead>
            <tr>
              <th>#</th>
              <th>Datum</th>
              <th>Ukupno</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <th>{{order.id}}</th>
              <td>{{order.date}}</td>
              <td>{{order.total}}</td>
              <td>

                <button class="btn btn-dark">Prikaži detalje</button>

              </td>
            </tr>
          </tbody>

        </table>

      </div>

    </div>

    <!-- preloader -->
    <div class="col-10 text-center" *ngIf="currentPage =='loading'">
      <br>
      <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div class="col-10 mt-3 mb-0" *ngIf="currentPage =='profile'">

      <div class="w-75 mx-auto">

        <p class="h6">Email:</p>
        <input [disabled]="action!=='Spremi'" type="text" [(ngModel)]="buyer.user.email"
          [ngClass]="buyer.user.email==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

        <p class="h6">Ime:</p>
        <!-- <p [ngClass]="buyer.user.firstName==null ? 'rounded-pill border p-2 text-danger':'border p-2 rounded-pill'">
          {{buyer.user.firstName ? buyer.user.firstName : 'You have not completed this data' }}
        </p> -->
        <input [disabled]="action!=='Spremi'" type="text" [(ngModel)]="buyer.user.firstName"
          [ngClass]="buyer.user.firstName==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

        <p class="h6">Prezime:</p>
        <input [disabled]="action!=='Spremi'" type="text" [(ngModel)]="buyer.user.lastName"
          [ngClass]="buyer.user.lastName==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

        <p class="h6">Broj mobitela:</p>
        <input [disabled]="action!=='Spremi'" type="text" [(ngModel)]="buyer.user.phone"
          [ngClass]="buyer.user.phone==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

        <p class="h6">Kanton:</p>
        <!-- (change)="citiesCombo($event)" -->
        <select [disabled]="action!=='Spremi'" (change)="citiesCombo($event)" name="federation"
          [(ngModel)]="buyer.user.federation" class="form-select rounded-pill mb-3" id="select_federation">
          <option value="">--Odaberite lokaciju--</option>
          <option [disabled]="i == 0 || i == 11 || i == 16" *ngFor="let fed of federations, let i = index" [value]="i">
            {{fed}}
          </option>
        </select>

        <!-- <input [disabled]="action!=='Save'" type="text" [(ngModel)]="buyer.user.federation"
          [ngClass]="buyer.user.federation==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'"> -->

        <p class="h6">Grad:</p>

        <select [disabled]="action!=='Spremi'" name="city" (change)="selectedCity($event)" [(ngModel)]="buyer.user.city"
          class="form-select rounded-pill mb-3" id="select_federation">
          <option value="">--Odaberite Grad--</option>
          <option *ngFor="let fed of citiesToCombo, let i = index" [value]="i">{{fed}}</option>
        </select>

        <!-- <input [disabled]="action!=='Save'" type="text" [(ngModel)]="buyer.user.city"
          [ngClass]="buyer.user.city==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'"> -->

        <p class="h6">Poštanski broj:</p>
        <input [disabled]="action!=='Spremi'" type="text" [(ngModel)]="buyer.postalCode"
          [ngClass]="buyer.postalCode==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">

        <p class="h6">Adresa:</p>
        <input [disabled]="action!=='Spremi'" type="text" [(ngModel)]="buyer.user.address"
          [ngClass]="buyer.user.address==null ? 'mb-3 rounded-pill border text-danger form-control':'mb-3 form-control border rounded-pill'">


      </div>

      <div class="d-flex justify-content-center mb-3">
        <button [disabled]="saving" class="btn btn-danger mx-2" (click)="editForm();">{{action}}</button>
      </div>

    </div>

    <div class="col-10 mt-3 mb-0" *ngIf="currentPage =='tenderTable'">
      <button class="btn btn-danger"  (click)="showNewTender()" >New tender</button>
      <tender-table></tender-table>
    </div>

    <div class="col-10 mt-3 mb-0" *ngIf="currentPage =='tenderForm'">
      <tender-form></tender-form>
    </div>

    <div class="col-10 mt-3 mb-0" *ngIf="currentPage =='tenderapply'">
      <tender-list></tender-list>
    </div>

  </div>

</div>





<!-- vertial nav responsive -->
<div id="menu" class="menu d-flex" [ngClass]="{'mostrar': showSidebar}">

  <div class="w-100">

    <div class="text-end m-2">
      <button class="btn btn-danger" (click)="toggleSidebar()">X</button>
    </div>


    <ul class="bg-primary">
      <li class="bg-primary m-0" style="height: 40px;">
        <a class="nav-link my-3 h4 px-2 h-100" [ngClass]="{'active': currentPage === 'company'}"
          (click)="showBuyerDetail()">
          <fa-icon [icon]="['fas', 'address-card']" style="font-size: 1.1em"></fa-icon>
          &nbsp;Profil
        </a>
      </li>

      <li>
        <a class="nav-link h4 m-0 px-2" style="height: 40px;" [ngClass]="{'active': currentPage === 'adlist'}"
          id="product-list" (click)="showOrderList()">
          <fa-icon [icon]="['fas', 'shopping-basket']" style="font-size: 1.1em"></fa-icon>
          &nbsp;Narudžbe
        </a>
      </li>

      <li>
        <a class="nav-link m-0 h4 px-2" style="height: 40px;" href="#" (click)="logout()">
          <fa-icon [icon]="['fas', 'right-from-bracket']" style="font-size: 1.1em"></fa-icon>
          &nbsp;Odjava
        </a>
      </li>

    </ul>

  </div>


</div>