<div class="container mt-2 mb-3">
    
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" style="cursor: pointer;" [ngClass]="{'active':active}"
                        (click)="getAuthorizedList()">Prijava na tender</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" [ngClass]="{'active':!active}"
                        (click)="getListByUser()">Vaši tenderi</a>
                </li>
            </ul>
        </div>
        <div class="card-body text-start">

            <div *ngIf="page=='tendertoapply'" class="row">

                <!-- filter -->
                <div class="col-12 mb-3">
                    <label for="project_name">Tip tendera</label>
                    <select (click)="filter()" [(ngModel)]="selectedType" name="filter" id="filter" class="form-select">
                        <option value=0 [disabled]="true">-Odaberite vrstu-</option>
                        <option value=1 selected>Građevina</option>
                        <option value=2 selected>Tekstil</option>
                        <option value=3 selected>Vozni park</option>
                        <option value=4 selected>Tehnologija</option>
                    </select>
                </div>

                
                <div class="col-12">

                    <div *ngIf="tenders">

                        <div *ngFor="let t of tenders" class="card mb-2">

                            <div class="card-body">

                                <p class="h5">{{t.projectName}}</p>
                                <p class="pb-0" style="overflow: hidden; max-height: 3em;">{{t.description}}</p>

                                <span class="text-muted">Objavljeno: {{t.createDate | date:'dd.MM.yyyy'}}</span>

                                <a [routerLink]="['/panelseller/tenderDetail',t.idtender]" class="stretched-link"></a>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <div *ngIf="page=='owntender'">

                <div class="d-flex justify-content-end mb-1">
                    <button routerLink="/panelseller/newtender" class="btn btn-secondary btn-sm">Dodaj tender</button>
                </div>

                <div class="table-responsive">

                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Naziv projekta</th>
                                <th>Od</th>
                                <th>Do</th>
                                <th>Opis projekta</th>
                                <th>Radnja</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tender of tenders">

                                <th>{{tender.idtender}}</th>
                                <td>{{tender.projectName}}</td>
                                <td>{{tender.dateFrom | date:'dd.MM.yyyy'}}</td>
                                <td>{{tender.dateTo | date:'dd.MM.yyyy'}}</td>
                                <td>
                                    <p style="overflow: hidden; max-height: 1.2em; line-height: 1; max-width: 360px;"
                                        class="p-0 m-0">
                                        {{tender.description}}</p>
                                    ...
                                </td>

                                <td>
                                    <a routerLink="/panelseller/tenderDetail/{{tender.idtender}}" class="btn btn-dark "
                                        style="margin-right: 5px;">
                                        Detalji
                                        <fa-icon [icon]="['fas', 'circle-info']" class="fs-5"></fa-icon>
                                    </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
</div>