<div *ngIf="loading==true" class="text-center">
    <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="loading==false && seller!==null">
    <div class="container">
        <div class="w-75 m-auto">

            <p class="h1 text-center">{{seller.companyName}}</p>

            <div class="mt-4 mb-4">
                <div class="row">
                    <div class="drop-zone m-auto d-flex justify-content-center">
                        <!-- <img src="./assets/images/company-vision.png" width="100"> -->
                        <img [src]="image" width="100">
                    </div>
                </div>
            </div>

            <!--category-->
            <!-- <p class="h6"> Djelatnost: </p> 
            <p [ngClass]="seller.companyCategory ? 'border p-2 rounded-pill' : 'border p-2 rounded-pill text-danger'">
                {{seller.companyCategory ? seller.companyCategory : 'You have not completed this data' }}</p> -->

            <!--subcategory-->
            <!-- <p class="h6"> Poddjelatnost: </p> 
            <p
                [ngClass]="seller.companySubcategory ? 'border p-2 rounded-pill' : 'border p-2 rounded-pill text-danger'">
                {{seller.companySubcategory ? seller.companySubcategory : 'You have not completed this data' }}</p> -->

           

            <p class="h6"> Ime:</p>
            <p class="border p-2 rounded-pill">{{seller.user.firstName}} {{seller.user.lastName}}</p>

            <p class="h6"> Poddjelatnost: </p> 
            <div class="border rounded p-1 mb-2" style="min-height: 100px;">
                <span *ngFor="let sel of subcategories" class="badge rounded-pill bg-dark"
                    style="margin-right: 5px;">{{sel.subcategoryName}}</span>
            </div>

            <p class="h6">Broj mobitela:</p>
            <p class="border p-2 rounded-pill">{{seller.user.phone}}</p>

            <p class="h6">Adresa:</p>
            <p [ngClass]="seller.user.address ? 'border p-2 rounded-pill' : 'border p-2 rounded-pill text-danger'">{{
                seller.user.address ? seller.user.address : ' Niste popunili ove podatke' }}</p>

            <p class="h6">Ulica:</p>
            <p [ngClass]="seller.street ? 'border p-2 rounded-pill' : 'border p-2 rounded-pill text-danger'">{{
                seller.street ? seller.street : 'Niste popunili ove podatke' }}</p>

            <p class="h6">Poštanski broj:</p>
            <p [ngClass]="seller.postalCode ? 'border p-2 rounded-pill' : 'border p-2 rounded-pill text-danger'">
                {{seller.postalCode ? seller.postalCode : 'Niste popunili ove podatke' }}
            </p>

            <p class="h6">Kanton:</p>
            <p class="border p-2 rounded-pill">{{federations[seller.user.federation]}}</p>

            <p class="h6">Grad:</p>
            <p class="border p-2 rounded-pill">{{cities[seller.user.federation][seller.user.city]}}</p>

            <p class="mb-0" disabled="true">Kratka biografija:</p> <!-- short biography -->
            <textarea readonly [ngClass]="seller.biography ? 'form-control rounded' : 'form-control rounded text-danger'"
                 rows="4">{{seller.biography ? seller.biography : ' Niste popunili ove podatke' }}</textarea>

            <p class="mt-3">Radno vrijeme:</p>
            <p>Dani u sedmici: </p>

            <div class="form-check form-switch">
                <input class="form-check-input" [(ngModel)]="seller.monday" type="checkbox" id="flexSwitchCheckDefault"
                    checked disabled>
                <label class="form-check-label" for="flexSwitchCheckDefault">Ponedjeljak</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" [(ngModel)]="seller.tuesday" type="checkbox" id="flexSwitchCheckChecked"
                    checked disabled>
                <label class="form-check-label" for="flexSwitchCheckChecked">Utorak</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" [(ngModel)]="seller.wednesday" type="checkbox"
                    id="flexSwitchCheckDefault" checked disabled>
                <label class="form-check-label" for="flexSwitchCheckDefault">Srijeda</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" [(ngModel)]="seller.thursday" type="checkbox"
                    id="flexSwitchCheckChecked" checked disabled>
                <label class="form-check-label" for="flexSwitchCheckChecked">Četvrtak</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" [(ngModel)]="seller.friday" type="checkbox" id="flexSwitchCheckChecked"
                    checked disabled>
                <label class="form-check-label" for="flexSwitchCheckChecked">Petak</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" [(ngModel)]="seller.saturday" type="checkbox"
                    id="flexSwitchCheckChecked" disabled>
                <label class="form-check-label" for="flexSwitchCheckChecked">Subota</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" [(ngModel)]="seller.sunday" type="checkbox" id="flexSwitchCheckChecked"
                    disabled>
                <label class="form-check-label" for="flexSwitchCheckChecked">Nedjelja</label>
            </div>

            <p class="h6 mt-3">Vrijeme:</p>
            <div class="row">
                <div class="col-2 col-sm-1">
                    <span>Od</span>
                </div>
                <div class="col-10 col-sm-5">
                    <select class="form-select rounded-pill" [(ngModel)]="seller.startTime" name="hour-start" disabled>
                        <option value="6">06:00</option>
                        <option value="7">07:00</option>
                        <option value="8">08:00</option>
                        <option value="9">09:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                    </select>
                </div>
                <div class="col-2 col-sm-1">
                    <span>Do</span>
                </div>
                <div class="col-10 col-sm-5">
                    <select class="form-select rounded-pill" [(ngModel)]="seller.endTime" name="hour-end" disabled>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                        <option value="21">21:00</option>
                    </select>
                </div>
            </div>


            <p class="mt-3 h6">Godišnji odmor: </p>
            <p [ngClass]="seller.annualLeave ? 'border p-2 rounded-pill' : 'border p-2 rounded-pill text-danger'">
                {{seller.annualLeave ? seller.annualLeave : 'Niste popunili ove podatke' }}
            </p>

            <p class="h6">Cijena dostave: {{seller.deliveryCost}}</p>
            <p [ngClass]="seller.deliveryCost ? 'border p-2 rounded-pill' : 'border p-2 rounded-pill text-danger'">
                {{seller.deliveryCost ? seller.deliveryCost : 'Niste popunili ove podatke' }}</p>


           

            <div class="form-group mb-4">
                <label class="form-label">Email</label>
                <div class="form-check">
                    <input disabled type="checkbox" class="form-check-input" name="setting_show_email" value="yes"
                        checked="checked">
                    <label> Prikaži email adresu na profilu</label>
                </div>
            </div>

        </div>
    </div>
</div>