<div *ngIf="loading" class="text-center mt-3">
    <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="!authorized && !loading">
    <div class="border border-2 border-danger rounded p-2 mt-3">
        <p>Jeste li sigurni da je Vaš profil odobren za dodavanje tendera?</p>
        <p>Molimo Vas da se obratite vlasniku stranice.</p>
    </div>
</div>

<div *ngIf="authorized">

    <div *ngIf="!loading && detail==0" class="container">

        <div class="row">

            <p *ngIf="tenders" class="h4 my-3">Tenderi</p>

            <div class="col-12">

                <div *ngIf="tenders">

                    <div *ngFor="let t of tenders" class="card mb-2">

                        <div class="card-body">

                            <p class="h5">{{t.projectName}}</p>
                            
                            <p class="pb-0" style="overflow: hidden; max-height: 3em;">{{t.description}}</p>

                            <span class="text-muted">Objavljeno: {{t.createDate | date:'dd.MM.yyyy'}}</span>

                            <!-- <a [routerLink]="['/tenderDetail',t.idtender]" class="stretched-link"></a> -->

                            <a (click)="showTenderDetail(t.idtender)" class="stretched-link"></a>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    
</div>

<div *ngIf="detail>0">
    <tender-detail [idtender]="detail"></tender-detail>
</div>