<div *ngIf="loading" class="text-center mt-3">
    <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="!loading && detail==0" class="table-responsive">

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Naziv projekta</th>
                <th>Od</th>
                <th>Do</th>
                <th>Opis projekta</th>
                <th>Radnja</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tender of tenders">

                <th>{{tender.idtender}}</th>
                <td>{{tender.projectName}}</td>
                <td>{{tender.dateFrom}}</td>
                <td>{{tender.dateTo}}</td>
                <td>
                    <p style="overflow: hidden; max-height: 1.2em; line-height: 1; max-width: 360px;" class="p-0 m-0">{{tender.description}}</p>
                    ...
                </td>
                
                <td>
                                      
                    <a (click)="showTenderDetail(tender.idtender)" style="cursor: pointer;">
                        <fa-icon [icon]="['fas', 'circle-info']" class="fs-5"></fa-icon>                        
                    </a>

                    <a *ngIf="role==3" (click)="confirmTender(tender.idtender)" style="margin-left: 1em; cursor: pointer;">
                        <fa-icon [icon]="['fas', 'check-square']" class="fs-5"></fa-icon>                        
                    </a>
                   
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div *ngIf="tenders.length==0" class="text-center">
    Nema podataka za prikaz
</div>

<div *ngIf="detail>0">    
    <tender-detail [idtender]="detail" ></tender-detail>
</div>
