<div class="container my-5">
    <h2>{{category}}</h2>
    <hr class="mt-0" style="color: red;">
    <h3>{{subcategoryName}}</h3>
</div>

<div class="container">

    <div class="row row-cols-2 row-cols-md-5 g-3">

        <div *ngFor="let product of products" class="col">
            <div class="card h-100">
                <img src="{{urlprod_img}}{{product.productImageList[0].idimage}}{{product.productImageList[0].extension}}" style="height: 200px;" class="card-img-top" alt="...">
                <hr class="m-0">
                <div class="card-body">
                    <h6 class="card-title">{{product.productName}}</h6>
                    <p class="card-text mb-0" *ngIf="product.price==0"><b>Cijena po dogovoru</b></p>
                    <p class="card-text mb-0" *ngIf="product.price>0"><b>{{product.price}} KM</b></p>
                    <a routerLink="../../../addetails/{{product.idproduct}}" class="stretched-link m-0 p-0"></a>
                </div>
            </div>
        </div>        

    </div>

</div>