<div class="container mt-2">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">         
            <div class="navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/paneluser/profile">
                            <fa-icon [icon]="['fas','address-card']" ></fa-icon>
                            Profile
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/paneladmin/customers">
                            <fa-icon [icon]="['fas','users']" ></fa-icon>
                            Kupci
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/paneluser/tenders">
                            <fa-icon [icon]="['fas','list-check']" ></fa-icon>
                            Tenderi
                        </a>
                    </li>                   
                </ul>
                <div class="d-flex">
                    <a href="#" (click)="logout()" style="color: antiquewhite;" >
                        <fa-icon [icon]="['fas','sign-out']" ></fa-icon>
                        Odjava                
                    </a>
                </div>
            </div>
        </div>
    </nav>

</div>

