<div class="container mb-3">

    <div *ngIf="loading" class="text-center mt-3">
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div *ngIf="!authorized && !loading">

        <div class="border border-2 border-danger rounded p-2 mt-3">
            <p>Jeste li sigurni da je Vaš profil odobren za dodavanje tendera?</p>
            <p>Molimo Vas da se obratite vlasniku stranice.</p>
        </div>
    </div>

    <div *ngIf="authorized" class="card mt-3 shadow">

        <div class="w-75 mx-auto">

            <div class="text-center">
                <br>
                <p class="h1">Novi tender</p>
                <br>
            </div>

            <form (ngSubmit)="submit()">

                <div class="row">
                    <div class="col-12 col-sm-6 mb-3">
                        <label for="project_name">Naziv projekta&nbsp;<span class="form-label">*</span></label>
                        <input type="text" class="form-control" name="project_name" id="project_name" value=""
                            [(ngModel)]="tender.projectName">
                    </div>

                    <div class="col-12 col-sm-6 mb-3">

                        <label for="project_name">Tip tendera&nbsp;<span class="form-label">*</span></label>
                        <select name="type" id="type" [(ngModel)]="tender.tenderTypeList" class="form-select" multiple>
                            <option value="1" selected>Građevina</option>
                            <option value="2" selected>Tekstil</option>
                            <option value="3" selected>Vozni park</option>
                            <option value="4" selected>Tehnologija</option>
                        </select>

                    </div>

                </div>


                <div class="row">

                    <div class="mb-3 col-12 col-sm-6">
                        <label for="dateFrom">Traje od&nbsp;</label>
                        <input type="date" class="form-control" id="dateFrom" name="dateFrom"
                            [(ngModel)]="tender.dateFrom">
                    </div>

                    <div class="mb-3 col-12 col-sm-6">
                        <label for="dateTo">Traje do&nbsp;</label>
                        <input type="date" class="form-control" id="dateTo" name="dateTo" [(ngModel)]="tender.dateTo">
                    </div>

                </div>


                <label for="description">Opis projekta&nbsp;</label>
                <textarea class="form-control" id="description" name="description" rows="3"
                    [(ngModel)]="tender.description"></textarea>


                <label class="mt-3" for="file">Fajl</label>
                <div class="input-group mb-3">
                    <input type="file" (change)="onFileSelected($event)" class="form-control" multiple id="file">
                </div>


                <div class="text-center">
                    <input [disabled]="saving" type="submit" value="Dodaj" class="btn btn-danger">
                </div>


            </form>
            <br>

            <div *ngIf="mandatory" class="bg-warning text-center">
                <p class="fw-bold">Popunite obavezna polja</p>
            </div>

        </div>


    </div>
    <br>
    <br>
    <br>
</div>


