<div class="container mb-3">
    <!-- <div [ngClass]="(isMobile$ | async) ?'w-75 mx-auto my-5':'w-50 mx-auto my-5'"> -->

    <div class="card mx-auto mt-5" style="max-width: 600px;">
        <div class="card-body">

            <h5 class="card-title">Promjena šifre</h5>

            <form *ngIf="!loading" (ngSubmit)="send()">
                <div class="mb-3">
                    <label style="font-weight: bold;" for="pw" class="form-label">Nova šifra</label>
                    <input required type="password" name="pw" class="form-control" id="pw" [(ngModel)]="pw">
                </div>

                <div class="mb-3">
                    <label style="font-weight: bold;" for="pw2" class="form-label">Ponovo unesite novu šifru</label>
                    <input required type="password" name="pw2" class="form-control" id="pw2" [(ngModel)]="pwc">
                </div>

                <button type="submit" class="btn btn-danger">Promijeni šifru</button>
            </form>

            <div *ngIf="loading" class="text-center">
                <div class="spinner-grow text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

        </div>
    </div>

    <br>
    <br>
</div>

<!-- </div> -->