<div *ngIf="loading" class="text-center mt-3">
    <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<div *ngIf="!loading" class="container">
    <p class="h4 my-3">{{tender.projectName}}</p>

    <div class="row">
        <!-- tender info -->
        <div class="col-12 col-sm-8 mb-2">
            <div class="big card">
                <h5 class="card-header">Detalji</h5>
                <div class="card-body bg-light">
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <p class="card-text">{{tender.description}}</p>

                    <div class="d-flex">
                        <fa-icon [icon]="['fas','calendar']"></fa-icon>
                        <p class="h6 mx-2">Period trajanja tendera</p>
                    </div>


                    <div class="row mb-2">
                        <!-- col-sm-1 -->
                        <div class="col-12">
                            Od: <span>{{tender.dateFrom}}</span>
                        </div>
                        <div class="col-12">
                            Do: <span>{{tender.dateTo}}</span>
                        </div>
                    </div>

                    <!-- <div *ngIf="tender.document!=''" class="mb-3 w-50 border border-danger rounded text-center"> -->

                    &nbsp;
                    <a *ngIf="tender.document" class="btn btn-danger my-3"
                        href="{{url_doc}}{{tender.idtender}}{{tender.document}}" target="_blank">
                        <fa-icon [icon]="['fas', 'file-arrow-down']"></fa-icon>
                        Otvorite prilog
                    </a>
                    <!-- </div> -->

                    <div *ngIf="canOffer">
                        <hr>
                        <div class="mb-2">
                            <label for="exampleFormControlTextarea1" class="form-label">Unesite vašu ponudu</label>
                            <textarea [(ngModel)]="comment" class="form-control" id="exampleFormControlTextarea1"
                                rows="5"></textarea>
                        </div>

                        <label class="mt-1" for="file">Fajl</label>
                        <div class="input-group mb-3">
                            <input type="file" (change)="onFileSelected($event)" class="form-control" multiple
                                id="file">
                        </div>

                        <a (click)="saveProposal()" class="btn btn-danger">Apliciraj</a>
                    </div>

                    <div *ngIf="already_offered">
                        <span class="badge rounded-pill bg-primary">Već ste aplicirali</span>
                    </div>


                </div>
            </div>
        </div>


        <!-- client info -->
        <div class="col-12 col-sm-4">
            <!-- style="width: 18rem;" -->
            <div class="big card">
                <h5 class="card-header">Tender objavio</h5>
                <div class="card-body bg-light">
                    <div class="d-flex mb-1">
                        <fa-icon [icon]="['fas','user']"></fa-icon>
                        &nbsp;
                        <p class="h6">{{user.firstName}} {{user.lastName}}</p>
                    </div>
                    <div class="d-flex">
                        <fa-icon [icon]="['fas','location-dot']"></fa-icon>
                        &nbsp;
                        <p class="h6">{{fed}} ,{{city}}</p>
                    </div>
                    <div class="d-flex">
                        <fa-icon [icon]="['fas','address-book']"></fa-icon>
                        &nbsp;
                        <p class="h6">{{user.address}}</p>
                    </div>
                    <div class="d-flex">
                        <fa-icon [icon]="['fas','mobile-phone']"></fa-icon>
                        &nbsp;
                        <p class="h6">{{user.phone}}</p>

                    </div>

                </div>

            </div>
        </div>

    </div>


    <!-- proposals -->
    <div class="row mt-2">

        <p *ngIf="tenderProposal" class="h4 my-3">Ponude</p>

        <div class="col-12">

            <a style="text-decoration: underline; color: var(--bs-link-color); cursor: pointer;" class="m-2"
                *ngIf="!tenderProposal" (click)="getProposals()">Pogledajte ponude...</a>

            <div *ngIf="tenderProposal">
                <div *ngFor="let t of tenderProposal" class="big card mb-2">

                    <div class="card-body bg-light">

                        <!-- <div class="d-flex">                            -->
                        <div class="d-flex justify-content-between w-100">
                            <!-- <p class="h6">{{t.user.firstName}} {{t.user.firstName}}</p> -->
                            <div>
                                <div class="d-flex">
                                    <fa-icon [icon]="['fas','user']"></fa-icon>
                                    &nbsp;
                                    <a [routerLink]="['/provider', t.user.idprovider]">
                                        {{t.user.companyName}}
                                    </a>
                                </div>
                                <div class="d-flex">
                                    <fa-icon [icon]="['fas','location-dot']"></fa-icon>
                                    &nbsp;
                                    <p class="p-0 mb-0">{{fed}} ,{{city}}</p>
                                </div>
                                <div class="d-flex">
                                    <fa-icon [icon]="['fas','address-book']"></fa-icon>
                                    &nbsp;
                                    <p class="p-0 mb-0">{{t.user.user.address}}</p>
                                </div>
                                <div class="d-flex">
                                    <fa-icon [icon]="['fas','mobile-phone']"></fa-icon>
                                    &nbsp;
                                    <p class="p-0">{{t.user.user.phone}}</p>
                                </div>

                            </div>

                            <p class="text-muted">Objavljeno: {{t.date}}</p>
                        </div>
                        <!-- </div> -->
                        <hr class="m-0 p-0">

                        <p class="pb-0 mb-0">{{t.comment}}</p>
                        <a *ngIf="tender.document" class="btn btn-danger my-3"
                            href="{{url_proposal_doc}}{{t.idProposal}}{{t.extension}}" target="_blank">
                            <fa-icon [icon]="['fas', 'file-arrow-down']"></fa-icon>
                            Otvorite prilog
                        </a>

                    </div>

                </div>

            </div>
        </div>

    </div>

</div>